<sidebar></sidebar>
<main *ngIf=centroCosto>
	<div class="row">
		<div class="container">
		<nav class="transparent z-depth-0">
		<a [routerLink]="['/centrocosto']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a [routerLink]="['/centrocosto']" class="breadcrumb ">Centros de costo</a>
		        <a class="breadcrumb ">Abonar</a>
		      </div>
		    </div>
		  </nav>

		
			<br>
			<h4 class="light">Abonar a Centro de Costos de <span class="teal-text semi-bold"> {{centroCosto.nivelEstructura.nivel_estructura_nombre}}</span></h4>
		</div>
	</div>

	<div class="container">
		<div class="card-panel">


		<form #formAbono="ngForm" id="form-abono" (ngSubmit)="onSubmit()">
			
		  <div class="row">


		  	<h5>Saldo actual</h5>
		  	<h1 class="light">$ {{centroCosto.nivelEstructura.centroCosto.centro_costo_presupuesto|number: '.2'}}</h1>
		  	<div class="divider"></div>
		  	<br>
			
		
			  	<h5>Abono a realizar</h5>
				<div class=" col s6">
					<label for="abono"> Monto: <span class="obl">*</span></label>
				  <input type="number" class="validate" min="0" #abono="ngModel" 
				  [(ngModel)]="abono1.abono_presupuesto_monto" name="abono" required="true">

				  <p *ngIf="!abono.valid && abono.touched" class="red-text"> <i class="material-icons left ">error_outline</i>El monto no es válido</p>
				  
				</div>
				
			 
			
		  </div>
		  <div class="row right">
		  	<a class="waves-effect waves-light btn red " [routerLink]="['/centrocosto']">	<i class="material-icons white-text left">close</i>
			Cancelar</a>

		  	 <button class="btn waves-effect waves-light green" type="submite" name="action" [disabled]="!formAbono.form.valid"><i class="material-icons left">send</i>Guardar
   			
 			</button>

		  </div>
		  <div class="row"></div>
		</form>
		
		</div>

		<div class="divider"></div><br>
		<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>
	</div>


</main>
