<sidebar></sidebar>

<main>
	<br><br>
	<div class="container">
		<nav class="transparent z-depth-0 right">
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb">Configuración</a>
		        <a class="breadcrumb">Ayuda</a>
		      </div>
		    </div>
		  </nav>

		  <br> <h4 class="light">Portal de <span class="teal-text semi-bold">Ayuda</span></h4><br>

		<div><i class="large material-icons "style="font-size: 130px">help</i></div>
		
		
		<div class="col m8 s8 justify">
			<ul class="collapsible" data-collapsible="expandable">
				<div>
					<h4 class="center light">Preguntas Frecuentes</h4>
				</div>
			    <li>
			      <div class="collapsible-header blue-grey darken-4 white-text"><i class="material-icons white-text">build</i>¿Qué puede hacer SIPEL por mi Empresa?</div>
			      <div class="collapsible-body ">

			      	<p text-align="justify"> Si es su primera vez usando SIPEL y desea conocer los beneficios abundantes de usar nuestro
sistema, le mostramos un listado de los principales procesos que puede realizar 
y disfrutar de un sistema de planillas en línea Único  y Agradable para usted.<br>
-Gestionar empleados.<br>
-Gestionar Movimientos (Ingresos y Egresos) para empleados.<br>
-Gestionar Puestos de Trabajo.<br>
-Gestionar la Estructura Organizativa de la Empresa.<br>
-Gestionar Tipo de Contratos para empleados.<br>
-Configurar Datos de Usuario.<br>
-Configurar la periodicidad de la planilla.<br>
-Gestión  de Comisiones.<br>
-Configurar la categoría de salario asignado a cada puesto.<br>
-Asignar centro de Costos por Departamento.<br>
Y mucho más!!...</p>
				</div>
			    </li>
			    <li>
			      <div class="collapsible-header blue-grey darken-4 white-text"><i class="material-icons white-text">group</i>¿Qué operaciones puedo realizar sobre los empleados en SIPEL?</div>
			      <div class="collapsible-body">
			      <p text-align="justify">SIPEL es un sistema muy intuitivo con características modernas y agradables para el usuario,
con SIPEL se tendrá  acceso al Listado de Empleados de su empresa de los cuales se podrán aplicar múltiples
operaciones sobre ellos, las cuales se detallan a continuación:<br>
<br>1-Agregar Nuevos empleados: En la parte superior del listado encontrará el botón  "Agregar",
haciendo clic sobre él, se le mostrará un formulario con los datos personales, teléfono,
Documentos, Datos de Contratación, Datos del Puesto, entre otros. Una vez completado el formulario
con todos los campos requeridos solo debe guardar y Felicidades ha añadido un nuevo Empleado.<br>

<br>2-Ver Planilla: Al lado de cada empleado se encuentra la opción de "Ver Planilla" en la cual
se detalla la información del empleado como el código que posee y el puesto en el que esta operando,
en esta misma vista se muestra una lista de Movimientos (Ingresos y Egresos), en el caso de
pertenecer al departamento de Ventas se tendrá la opción de Registrar una nueva venta. Y el sistema se encarga de realizar
los calculos pertinentes, de esta forma SIPEL ahorra su valioso tiempo.<br>

<br>3-Editar y Deshabilitar Empleado.</p>
				</div>
			    </li>
			   
			    <li>
			      <div class="collapsible-header blue-grey darken-4 white-text"><i class="material-icons white-text">art_track</i>¿Cómo consultar el plan al que estoy suscrito? 
			      </div>
			      <div class="collapsible-body">
			      	<p text-align="justify">Existen tres vías en las cuales usted puede consultar esa información a continuación
se le detalla cada una:<br>
<br>1-En la parte superior de la página de inicio se describen aspectos importantes respecto a su información personal y la de su empresa, tomando en cuenta el tipo de plan adquirido, número de empleados limitados con ese plan, entre otros.<br>

<br>2-En la página de inicio de SIPEL encontrara accesos directos, uno de ellos
denominado "Mi Empresa", haciendo clic sobre él será  capaz de visualizar con más detalle
su información  aparte de la mencionada en el numeral 1. <br>

<br>3-En el panel lateral izquierdo existe un apartado denominado "Mi Empresa", teniendo la ventaja
de consultar su información  sobre los dos anteriores ya que no necesariamente
debe estar en la página de inicio, porque puede acceder a él  en cualquier momento.</p></div>
			    </li>
			   
			    <li>
			      <div class="collapsible-header blue-grey darken-4 white-text"><i class="material-icons white-text">face</i>¿Puedo personalizar mi perfil de usuario?</div>
			      <div class="collapsible-body">
			      <p text-align="justify">Si, con SIPEL cada usuario es capaz de verificar su información 
personal y hacer cambios en el nombre de usuario y contraseña para su mayor seguridad.
En el menú lateral al dirigirse a su usuario usted será  capaz
de verificar la fecha y hora en la que esta haciendo la consulta, así como una breve 
descripción de su perfil, en la parte inferior podrá dar clic al botón editar
y de este modo estará entrando al modo edición para hacer los cambios deseados.</p></div>
			    
			    </li>
			  </ul>
		</div>
	</div>
</main>