<sidebar></sidebar>

<main>

	<div class="container">
		<nav class="transparent z-depth-0">
		<a [routerLink]="['/categoriaSalario']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb ">Configuración</a>
		        <a [routerLink]="['/categoriaSalario']" class="breadcrumb ">Listado de Categoria de Salarios</a>
		        <a class="breadcrumb ">Agregar Categoria de Salario</a>
		      </div>
		    </div>
		  </nav>
		<br>
		<h4 class="light">Formulario para agregar <span class="teal-text semi-bold">Categoria de Salarios</span></h4>
		<br>

		<div class="card-panel">

		<form #formCategoria="ngForm" id="form-categoriasalario" (ngSubmit)="onSubmit()" *ngIf="categoriaSalario">
			
		  <div class="row">
			
			  <div class="row">
				<div class=" col s6">
					<label for="first_name"> Nombre: <span class="obl">*</span></label>
				  <input type="text" class="validate" #nombre="ngModel" 
				  [(ngModel)]="categoriaSalario.categoria_salario_nombre" name="nombre" required="true">

				  <p *ngIf="!nombre.valid && nombre.touched" class="red-text"> <i class="material-icons left ">error_outline</i>La Categoria de Salario no es válida</p>
				  
				</div>


				<div class=" col s6">
				<label>Descripción: <span class="obl">*</span></label>

				  <input type="text" class="validate" data-length="200" name="descripcion"
				  #descripcion="ngModel" [(ngModel)]="categoriaSalario.categoria_salario_descripcion" required="true" 
				  >

				  <p *ngIf="!descripcion.valid && descripcion.touched" class="red-text "> <i class="material-icons left">error_outline</i>La descripción no es válida</p>
				  
				</div>

				<div class=" col s6">
				<label>Salario Maximo: $<span class="obl">*</span></label>

				  <!-- <input type="text" class="validate"  name="salMax"
				  #salMax="ngModel" [(ngModel)]="categoriaSalario.categoria_salario_maximo" required="true" 
				  > -->

				  <input type="text" class="validate" data-length="15" name="maximo"

			  #maximo="ngModel" [(ngModel)]="categoriaSalario.categoria_salario_maximo" required="true" type="number" steap="any" min="0" 
				  >

				  <p *ngIf="!maximo.valid && maximo.touched" class="red-text "> <i class="material-icons left">error_outline</i>El Maximo salario no es válido</p>
				  
				</div>

				<div class=" col s6">
				<label>Salario Minimo: $<span class="obl">*</span></label>

				  <!--<input type="text" class="validate"  name="salMin"
				  #salMin="ngModel" [(ngModel)]="categoriaSalario.categoria_salario_minimo" required="true" 
				  >-->
				 <input type="text" class="validate" #minimo="ngModel" 

				  [(ngModel)]="categoriaSalario.categoria_salario_minimo" name="minimo" required="true" data-length="15" type="number" steap="any" min="0" >

				  <p *ngIf="!minimo.valid && minimo.touched" class="red-text "> <i class="material-icons left">error_outline</i>El Minimo salario no es válido</p>


				</div>
			  </div>

			
			<div class="row">
				<div class="col s6">
					<div input-field  name="puesto" ngDefaultControl required="true"
					#puesto="ngModel" [(ngModel)]="categoriaSalario.puesto_id"
					>
					    <label>Puesto:<span class="obl">*</span></label>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>{{puesto.puesto_nombre}}</option>	
					        <option *ngFor="let x of listaPuestos" value="{{x.puesto_id}}">{{x.puesto_nombre}}</option>
					    </select>
					</div>


					
				</div>
			</div>
			


			
		  </div>
		  <div class="row right">

<p *ngIf="categoriaSalario.categoria_salario_minimo > categoriaSalario.categoria_salario_maximo || categoriaSalario.categoria_salario_maximo < categoriaSalario.categoria_salario_minimo" class="red-text" formCategoria.form.valid ="false" > <i class="material-icons left ">error_outline</i>El mínimo y el máximo no son válidos</p>

		  	<a class="waves-effect waves-light btn red " [routerLink]="['/categoriaSalario']"><i class="material-icons white-text left">close</i>Cancelar</a>

		  	 <button class="btn waves-effect waves-light green" type="submite" name="action" [disabled]="!formCategoria.form.valid"> <i class="material-icons left">send</i>Guardar
   			
 			</button>

		  </div>
		  <div class="row"></div>
		</form>
		
		</div>

		<div class="divider"></div><br>
		<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>
	</div>


</main>