<sidebar></sidebar>


<main>


	<div class="row">
		<div class="container">
			<nav class="transparent z-depth-0">
				<a [routerLink]="['/centrocosto']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
			    <div class="nav-wrapper right">
			      <div class="col s12">
			        <a [routerLink]="['/centrocosto']" class="breadcrumb ">Centros de costo</a>
			        <a class="breadcrumb ">Registro de abonos</a>
			      </div>
			    </div>
			  </nav>
			<br>
			<h4 class="light">Registro de <span class="teal-text semi-bold">abonos</span></h4>
			
		</div>
	</div>

		<div class="container">
			<div class="card-panel" *ngIf=centroC>
				<h5>{{centroC.nivelEstructura.nivel_estructura_nombre}}</h5>
				<div class="divider"></div>

					<div class="row">
			
					<div class="col m12 s12">
					
						<p><span class="light">Saldo</span></p>
						<h1 class="light">$ {{centroC.nivelEstructura.centroCosto.centro_costo_presupuesto|number: '.2'}}</h1>

						
					</div>
					
					</div>

				<div class="col s12 m12">
				<h5>Abonos</h5>
				<div class="divider"></div>

			
				  <table>
					<thead>
					  <tr>
						  <th>Usuario</th>
						 
						  <th>Monto</th>
						  <th>Fecha</th>
					  </tr>
					</thead>

					<tbody *ngFor= "let mov of centroC.abonoPresupuesto">
					  <tr>
						<td>{{mov.abono_presupuesto_usuario}}</td>
						<td>$ {{mov.abono_presupuesto_monto|number: '.2'}}</td>
						<td>{{mov.abono_presupuesto_fecha|date: 'dd/MM/yyyy , hh:mm:ss a'}}</td>
						
					  </tr>
					</tbody>
				  </table>
				  <div class="divider"></div>	
			</div>

			</div>



		</div>

</main>