<sidebar></sidebar>



<main>
	<div class="container">
		<nav class="transparent z-depth-0 right">
		    <div class="nav-wrapper right">
		      <div class="col s12">
		      
		        <a class="breadcrumb">Centro de Costos</a>
		      </div>
		    </div>
		  </nav>
		
		<br>
		<h4 class="light">Centro de <span class="teal-text semi-bold">Costos</span></h4>
		<br>
		

		<div  *ngIf=!listCentros class="loader">
			<h4 class="teal-text center">Cargando ...</h4>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress teal">
				      <div class="indeterminate teal darken-3"></div>
				  </div>
		    	</div>
		    </div>
		</div> 


		<div class="card-panel" *ngIf = listCentros>
		  <table>
			<thead>
			  <tr>
				  
				  <th>Departamento</th>
				  <th>Saldo</th>
				  <th class="center">Opciones</th>
			  </tr>
			</thead>

			<tbody *ngFor= "let a of listCentros">

			  <tr >
				<td>{{a.nivelEstructura.nivel_estructura_nombre}}</td>
				<td>$ {{a.centro_costo_presupuesto|number: '.2'}}</td>

				<td class="center">

					<div class="tooltip">
					<a class="waves-effect waves-light btn green  myButton" [routerLink]="['/abonar', a.centro_costo_id]"><i class="material-icons center white-text" >trending_up</i></a>
					<span class="tooltiptext">Abonar</span>
					</div>

					<div class="tooltip">
					<a  class="waves-effect waves-light btn " [routerLink]="['/get-centrocosto', a.centro_costo_id]"><i class="material-icons white-text center">import_contacts</i></a>
					<span class="tooltiptext">Ver abonos</span>
					</div>
					

				</td>

				
			  </tr>
			</tbody>
		  </table>

		</div>
		<div class="card-panel" *ngIf = listCentros>
			
		<chartCostos></chartCostos>
		</div>

	</div>
</main>
