<div class="row">
  <!-- <div class="card-panel"> -->
    
  <div class="col s12 m12 animated fadeInDown" *ngIf="listCentros">
    <div style="display: block;">
      <canvas baseChart width="800px" height="400px"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  <!-- </div> -->
  <div class="row"></div>
  </div>

</div>


