<sidebar></sidebar>



<main>
	<div class="container">
		<nav class="transparent z-depth-0 right">
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb">Configuración</a>
		        <a class="breadcrumb">Listado de Comisiones</a>
		      </div>
		    </div>
		  </nav>
		
		<br>
		<h4 class="light">Listado de <span class="teal-text semi-bold">Comisiones</span></h4>
		<br>
		<a class="waves-effect waves-light btn teal" [routerLink]="['/comision-add']"><i class="material-icons white-text left">add</i>Agregar</a>

		<div  *ngIf=!listComisiones class="loader">
			<h4 class="teal-text center">Cargando Comisiones...</h4>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress teal">
				      <div class="indeterminate teal darken-3"></div>
				  </div>
		    	</div>
		    </div>
		</div> 


		<div class="card-panel" *ngIf = listComisiones>
		  <table>
			<thead>
			  <tr>
				  <th>ID</th>
				  <th>Nombre</th>
				  <th>Mínimo</th>
				  <th>Máximo</th>
				  <th>Porcentaje</th>
				  <th class="center">Opciones</th>
			  </tr>
			</thead>

			<tbody *ngFor= "let a of listComisiones">

			  <tr >
				<td>{{a.comision_id}}</td>
				<td>{{a.comision_nombre}}</td>
				<td>$ {{a.comision_minimo }}</td>
				<td>$ {{a.comision_maximo }}</td>
				<td>{{a.comision_porcentaje * 100}} %</td>

				<td class="center">

					<div class="tooltip">
					<a class="waves-effect waves-light btn blue lighten-2 myButton" [routerLink]="['/comision-update', a.comision_id]"><i class="material-icons center white-text" >edit</i></a>
					<span class="tooltiptext">Editar</span>
					</div>

					<div class="tooltip">
					<a (click)="onDelete(a.comision_id, a)" class="waves-effect waves-light btn red lighten-2 myButton"><i class="material-icons white-text center">delete</i></a>
					<span class="tooltiptext">Deshabilitar</span>
					</div>
					

				</td>

				
			  </tr>
			</tbody>
		  </table>

		 

		</div>

	</div>
</main>