<sidebar></sidebar>
<main>

	<div class="container">

		<nav class="transparent z-depth-0">
		<a [routerLink]="['/comision']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb ">Configuración</a>
		        <a [routerLink]="['/comision']" class="breadcrumb ">Listado Comisiones</a>
		        <a class="breadcrumb ">Agregar Comisión</a>
		      </div>
		    </div>
		  </nav>

		
		<br>
		<h4 class="light">Formulario para agregar <span class="teal-text semi-bold">Comisiones</span></h4>
		<br>

		<div class="card-panel">

		<form #formComision="ngForm" id="form-comision" (ngSubmit)="onSubmit()" *ngIf="t">


		  <div class="row">


		  	<div class=" col s6">
					<label for="first_name"> Nombre: <span class="obl">*</span></label>
				  <input type="text" class="validate" #nombre="ngModel" 
				  [(ngModel)]="t.comision_nombre" name="nombre" required="true">

				  <p *ngIf="!nombre.valid && nombre.touched" class="red-text"> <i class="material-icons left ">error_outline</i>El nombre no es válido</p>
				  
				</div>


				<div class=" col s6">
					<label for="first_name"> Porcentaje: %<span class="obl">*</span></label>
				  <input type="text" class="validate" #porcentaje="ngModel" 
				  [(ngModel)]="t.comision_porcentaje" name="porcentaje" required="true" data-length="3" type="number" min="0" max="100">

				  <p *ngIf="!porcentaje.valid && porcentaje.touched" class="red-text"> <i class="material-icons left ">error_outline</i>El porcentaje no es válido</p>
				  
				</div>
			</div>
			
		  <div class="row">
			
			  
				<div class=" col s6">
					<label for="first_name"> Valor mínimo: $<span class="obl">*</span></label>
				  <input type="text" class="validate" #minimo="ngModel" 
				  [(ngModel)]="t.comision_minimo" name="minimo" required="true" data-length="15" type="number" steap="any" min="0" >

				  <p *ngIf="!minimo.valid && minimo.touched" class="red-text"> <i class="material-icons left ">error_outline</i>El mínimo no es válido</p>
				  
				</div>


				<div class=" col s6">
				<label>valor máximo: $ <span class="obl">*</span></label>

				  <input type="text" class="validate" data-length="15" name="maximo"
				  #maximo="ngModel" [(ngModel)]="t.comision_maximo" required="true" type="number" steap="any" min="0" 
				  >

				  <p *ngIf="!maximo.valid && maximo.touched" class="red-text "> <i class="material-icons left">error_outline</i>El máximo no es válido</p>
				  
				</div>

				

			  
		  </div>

		  



		  <div class="row right">

		  		<p *ngIf="t.comision_minimo > t.comision_maximo || t.comision_maximo < t.comision_minimo" class="red-text" formComision.form.valid ="false" > <i class="material-icons left ">error_outline</i>El mínimo y el máximo no son válidos</p>

		  	<a class="waves-effect waves-light btn red " [routerLink]="['/comision']">	<i class="material-icons white-text left">close</i>
			Cancelar</a>



		  	 <button class="btn waves-effect waves-light green" type="submite" name="action" [disabled]="!formComision.form.valid"><i class="material-icons left">send</i>Guardar
   			
 			</button>

		  </div>

		  <div class="row"></div>
		</form>
		
		</div>

		<div class="divider"></div><br>
		<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>

	</div>


</main>
