<sidebar></sidebar>

<main>

	<div class="container">
		<nav class="transparent z-depth-0">
		<a [routerLink]="['/configuracionPlanilla']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb ">Configuración</a>
		        <a [routerLink]="['/configuracionPlanilla']" class="breadcrumb ">Configuracion de Planillas</a>
		        <a class="breadcrumb ">Editar Configuracion de Planillas</a>
		      </div>
		    </div>
		  </nav>
		<br>

		<br>
		<h4 class="light">Editar <span class="teal-text semi-bold">Configuracion de Planillas</span></h4>
		<br>

		<div class="card-panel">

		<form #formCategoria="ngForm" id="form-configuracionPlanilla" (ngSubmit)="onSubmit()" *ngIf="configuracionPlanilla">

		  <div class="row">
			
			  <div class="row">
				<div class=" col s6">
					<label for="first_name"> Salario Minimo: <span class="obl">*</span></label>
				  <input type="text" class="validate" #nombre="ngModel"
				  [(ngModel)]="configuracionPlanilla.configuracion_planilla_min_sal" name="nombre" required="true">

				  <p *ngIf="!nombre.valid && nombre.touched" class="red-text"> <i class="material-icons left ">error_outline</i>La configuracion de planilla no es válida</p>

				</div>
		</div>

			<div class="row">
				<div class="col s6">
					<div input-field  name="periodo" ngDefaultControl required="true"
					#periodo="ngModel" [(ngModel)]="configuracionPlanilla.periodo_id" >

					    <label>Periodo:<span class="obl">*</span></label>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>{{configuracionPlanilla.periodo.periodo_nombre}}</option>
					        <option *ngFor="let x of listaPeriodo" value="{{x.periodo_id}}">{{x.periodo_nombre}}</option>
					    </select>
					</div>



				</div>
			</div>


		  </div>
		  <div class="row right">

		  	<a class="waves-effect waves-light btn red " [routerLink]="['/configuracionPlanilla']"><i class="material-icons white-text left">close</i>Cancelar</a>

		  	 <button class="btn waves-effect waves-light green" type="submite" name="action" [disabled]="!formCategoria.form.valid"><i class="material-icons left">send</i>Guardar

 			</button>

		  </div>
		  <div class="row"></div>
		</form>

		</div>
		<div class="divider"></div><br>
		<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>
</div>

</main>
