<sidebar></sidebar>



<main>
	<div class="container">
		<nav class="transparent z-depth-0 right">
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb">Configuración</a>
		        <a class="breadcrumb">Configuracion Planilla</a>
		      </div>
		    </div>
		  </nav>
			<h4 class="light">Configuracion de <span class="teal-text semi-bold">Planilla</span></h4>
			<br>
			<div  class="row">
								<h5><i class="material-icons left">monetization_on</i>Salario Minimo: <span class="ligth">${{listaConfigPlanilla.configuracion_planilla_min_sal}}</span></h5>
								<h5><i class="material-icons left">business</i>Tipo de periodo: <span class="ligth">{{listaConfigPlanilla.periodo.periodo_nombre}}</span></h5>
		</div>
		<div class="tooltip">
		<a style="padding-left: 10px; padding-right: 10px" [routerLink]="['/configuracionPlanilla-update',listaConfigPlanilla.configuracion_planilla_id]" class="waves-effect waves-light btn blue lighten-2 myButton" data-position="bottom" data-tooltip="I am a tooltip"><i class="material-icons white-text center">create</i> </a>
		<span class="tooltiptext">Editar</span>
		</div>
		<h4 class="ligth">Catalogos Pre-definidos</h4>
		<h5 class="ligth"><span class="teal-text semi-bold">Generos</span></h5>
	<!--- generos -->
				<!--Agregar genero-->
	<div class="tooltip">
		<a (click)="agregarGenero()"><i class="material-icons right green-text" >add_circle</i></a>
		<span class="tooltiptext">Agregar</span>
	</div>
			<!--Elegir nuevo genero-->
			<div class="row col m3" *ngIf="agregarG">

			<select class="" material-select watch class="browser-default" [(ngModel)]="genero">
				<option value="" disabled selected>Generos Disponibles</option>
					<option *ngFor="let x of listaGeneros" [ngValue]="x">{{x.genero_nombre}}</option>
			</select>
			<a (click)="guardarGenero()">Agregar</a>
			</div>
<!--Tabla de generos-->
	<div class="card-panel">
		 <table class="row-border hover">
		 <thead>
				<tr>
					<th>Id</th>
					<th>Genero</th>
					<th>Descripcion</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor= "let x of listaGenerosEmpresa">
					<td>{{x.genero_id}}</td>
					<td>{{x.genero_nombre}}</td>
					<td>{{x.genero_descripcion}}</td>
				</tr>
			</tbody>
		</table>
	</div>

<!--load-->
		<div  *ngIf="!listaConfigPlanilla" class="loader">
			<h4 class="teal-text center">Cargando Configuracion de Planillas...</h4>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress teal">
				      <div class="indeterminate teal darken-3"></div>
				  </div>
		    	</div>
		    </div>
		</div>




	</div>
</main>
