<sidebar></sidebar>

<main>
	<div class="row">
		<div class="container">
			<nav class="transparent z-depth-0">
				<a [routerLink]="['/contrato']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
			    <div class="nav-wrapper right">
			      <div class="col s12">
			        <a class="breadcrumb ">Configuración</a>
			        <a [routerLink]="['/contrato']" class="breadcrumb ">Listado de Contratos</a>
			        <a class="breadcrumb ">Agregar Contrato</a>
			      </div>
			    </div>
			  </nav>
			<br>
			<h4 class="light">Formulario para agregar <span class="teal-text semi-bold">Contrato</span></h4>
			<br>
		</div>
	</div>

	<div class="row">
		<div class="container">
			<div class="card-panel">
				<div class="container">
					
					<form #formContrato="ngForm" (ngSubmit)="guardarContrato()">
					  <div class="row">
						<div class="input-field col m4 s6">
						  <input placeholder="" #desc="ngModel" [(ngModel)]="descripcion" name="contrato_descripcion" type="text" class="validate" required>
						  <label  for="first_name" >Nombre <span class="obl">*</span>: </label>
						  <span *ngIf="!desc.valid && desc.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El nombre no es válido</span>
						</div>
						<div class="input-field col s6 m3">
						  <input placeholder="días" #dur="ngModel" [(ngModel)]="duracion" name="contrato_duracion" type="number" class="validate" required >
						  <label for="last_name">Duración<span class="obl">*</span> :</label>
						  <span *ngIf="!dur.valid && dur.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>La duración no es válida</span>
						</div>
					  </div>
					  <div class="row">
					  	<div class="col s4 m4">
							<div input-field  name="tipo_contrato" ngDefaultControl required="true"
							#contrato="ngModel" [(ngModel)]="id">
							    <label>Forma de Contrato:<span class="obl">*</span></label>
							    <select class="" material-select watch class="browser-default">
							    	<option value="" disabled selected>Seleccionar</option>	
							        <option *ngFor="let x of listaTiposContratos" value="{{x.forma_contrato_id}}">{{x.forma_contrato_nombre}}</option>
							    </select>
							</div>	
						</div>
					  </div>
					  <div class="row right">
					  	<a [routerLink]="['/contrato']" class="waves-effect waves-light btn red lighten-2"><i class="material-icons white-text left">close</i>Cancelar</a>
					  	<button class="btn waves-effect waves-light green  lighten-2" type="submit" name="action" [disabled]="!formContrato.form.valid"><i class="material-icons left">send</i>Guardar</button>
					  </div>
				 	  <div class="row"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>