<sidebar></sidebar>

<main>

	<div class="container">
		<nav class="transparent z-depth-0">
		<a (click)="retroceder()" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb " [routerLink]="['/empleado']">Empleados</a>
		        <a (click)="retroceder()" class="breadcrumb ">Planilla individual</a>
		        <a class="breadcrumb ">Agregar Movimiento</a>
		      </div>
		    </div>
		  </nav>
		<br>
		<h4 class="light">Formulario para agregar <span class="teal-text semi-bold">Detalles de movimiento</span></h4>

		

		<div class="card-panel">

		<form #formDMovimiento="ngForm" id="form-Dmovimiento" (ngSubmit)="onSubmit()">
			
		  <div class="row">
			
			  <div class="row">


			  	<div class="col s6">
					<div input-field  name="movimiento" ngDefaultControl required="true"
					#movimiento="ngModel" [(ngModel)]="dMov.movimiento_id"
					>
					    <label>Movimiento:<span class="obl">*</span></label>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>{{mov.movimiento_id}}</option>	
					        <option *ngFor="let x of movimientos" value="{{x.movimiento_id}}">
					        	<p style="colo: green;">{{x.tipoTransaccion.tipo_transaccion_nombre}}</p> --> {{x.movimiento_nombre}}  </option>
					    </select>
					</div>
			
				</div>


				<div class=" col s6">
					<label for="first_name"> Monto $: <span class="obl">*</span></label>
				  <input type="number" class="validate" min="0" #monto="ngModel" min="0" 
				  [(ngModel)]="dMov.detalle_movimiento_monto" name="monto" required="true">

				  <p *ngIf="!monto.valid && monto.touched" class="red-text"> <i class="material-icons left ">error_outline</i>El Monto no es válido</p>
				  
				</div>

					
			
			  </div>

		  </div>
		  <div class="row right">
		  	<div class=" col s12">
		  	<a class="waves-effect waves-light btn red " (click)="retroceder()"><i class="material-icons white-text left">close</i>Cancelar</a>

		  	 <button class="btn waves-effect waves-light green" type="submite" name="action" [disabled]="!formDMovimiento.form.valid"> <i class="material-icons left">send</i>Guardar
   			
 			</button>
  			<br><br>
		  </div>
		</div>
		
		  
		  <div class="row"></div>
		</form>
		
		</div>

		<div class="divider"></div><br>
		<div class="row right">
		  	<div class=" col s12">
				<a  class="waves-effect waves-light white" [routerLink]="['/movimiento-add']"><i class="material-icons left">keyboard_arrow_right</i>Movimiento +</a>
				</div>

		  </div>
		  <div class="row"></div>
		<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>
	</div>


</main>
