<sidebar></sidebar>



<main>
	<div class="container">
		<nav class="transparent z-depth-0 right">
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb">Listado de Empleados</a>
		      </div>
		    </div>
		  </nav>
		
		<br>
		<h4 class="light">Listado de <span class="teal-text semi-bold">Empleados</span></h4>
		<br>

		<div  *ngIf=!listEmpleados class="loader">
			<h4 class="teal-text center">Cargando Empleados...</h4>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress teal">
				      <div class="indeterminate teal darken-3"></div>
				  </div>
		    	</div>
		    </div>
		</div> 

		<div class="card-panel">
			 <table class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
			 <thead>
			    <tr>
			      <th>ID</th>
			      <th>Nombre</th>
			      <th class="center">Opciones</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor= "let x of listEmpleados">
			      <td>{{x.empleado_codigo}}</td>
			      <td>{{x.persona.persona_primer_nombre}} {{x.persona.persona_segundo_nombre}} {{x.persona.persona_primer_apellido}} {{x.persona.persona_segundo_apellido}}</td>
			      <td class="center">
			      	<div class="tooltip">
					<a class="waves-effect waves-light btn #0277bd light-blue darken-3" [routerLink]="['/empleado-usuario-add', x.empleado_id]"><i class="material-icons center white-text" >group_add</i></a>
					<span class="tooltiptext">Agregar usuario</span>
					</div>
			      </td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</main>
