<sidebar></sidebar>

<main>
	<div class="container">
		<div class="row">
			<nav class="transparent z-depth-0 right">
			    <div class="nav-wrapper right">
			      <div class="col s12">
			        <a class="breadcrumb" [routerLink]="['/empleado-usuario']">Listado de Empleados</a>
			        <a class="breadcrumb">Asignar Usuario y Rol</a>
			      </div>
			    </div>
			  </nav>
		</div>
		<div class="row">
			<div class="card-panel">
				<div class="container">
					<h4 class="light">Asignar usuario y rol</h4>
					<div class="divider"></div>
					<div class="row center">
						<h5 class="light">{{nombre}}</h5>
						<h5 class="bold">{{puesto | uppercase}}</h5>
						<p class="light">{{puesto_descripcion}}</p>
						<p class="light">{{fecha}}</p>
					</div>
					<div class="divider"></div>
				
				<form #formUsuario="ngForm" (ngSubmit)="guardar()">
					<div class="row">
						<div class="col m6 s12">
							<div input-field  name="rol" ngDefaultControl required="true"
							#rol="ngModel" [(ngModel)]="rol_id">
							    <label>Rol:<span class="obl">*</span></label>
							    <select class="" material-select watch class="browser-default">
							    	<option value="" disabled selected>Seleccionar</option>	
							        <option *ngFor="let x of listaRoles" value="{{x.rol_id}}">{{x.rol_nombre}}</option>
							    </select>
							</div>	
						</div>

						<div class="col m6 s12">
							<div input-field  name="correo" ngDefaultControl required="true"
							#cor="ngModel" [(ngModel)]="correo">
							    <label>Correos:<span class="obl">*</span></label>
							    <select class="" material-select watch class="browser-default">
							    	<option value="" disabled selected>Seleccionar</option>	
							        <option *ngFor="let x of listaCorreos" value="{{x.correo_direccion}}">{{x.correo_direccion}}</option>
							    </select>
							</div>	
						</div>
					</div>
					<div class="row"></div>
					  <div class="row right">
					  	<a [routerLink]="['/empleado-usuario']" class="waves-effect waves-light btn red lighten-2"><i class="material-icons white-text left">close</i>Cancelar</a>
					  	<button class="btn waves-effect waves-light green  lighten-2" type="submit" name="action" [disabled]="!formUsuario.form.valid"><i class="material-icons left">send</i>Guardar</button>
					  </div>
					</form>
					<div class="row"></div>
					<div class="row">
						<div class="divider"></div>
							<p class="light">Cuando seleccione el rol y presione aceptar, el empleado recibirá un correo electrónico con una nombre de usuario y contraseña tempora. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>