<sidebar></sidebar>
<main>

	<div class="container">

<!-- Breadcrum ------------------------------------------------------------------------------------------------------------->
		<nav class="transparent z-depth-0">
		<a [routerLink]="['/empleado']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a [routerLink]="['/empleado']" class="breadcrumb ">Listado empleados</a>
		        <a class="breadcrumb ">Agregar Empleado</a>
		      </div>
		    </div>
		  </nav>
<!-- ------------------------------------------------------------------------------------------------------------------------ -->
		<div class="card-panel red animated shake" *ngIf=error>
			<!-- <div class="container"> -->
				<div class="row">
					<div class="col m2">
						<br>
						<br>
						<i class="large material-icons white-text">report_problem</i>
					</div>
					<div class="col m10">
						<h2 class="bold white-text">¡Ups!</h2>
						<h5 class="light white-text">Parece que has llegado al número <span class="bold">máximo de empleados</span>.</h5>
						<div class="divider"></div>
						<p class="light white-text">Contacta al servicio al cliente: serviciocliente@sipel.com</p>
					</div>
				</div>
			<!-- </div> -->
		</div>
<!-- ------------------------------------------------------------------------------------------------------------------------ -->
		<br>
		<h4 class="light">Formulario para agregar <span class="teal-text semi-bold">Empleados</span></h4>
		<br>



		<form #formEmpleado="ngForm" id="form-empleado" (ngSubmit)="onSubmit()">

		<div class="card-panel" *ngIf=!error>
			<div class="container">
		  <div class="row">
		  		<h5 class="light"> Datos personales</h5>
		  		<div class="divider"></div> <br>

			<div class="row">
				<div class=" col s6">
				<label>Fecha de nacimiento: + 18 años. Hoy es {{now| date:'dd/MM/yyyy'}}  <span class="obl">*</span></label>

				  <input type="date" max="{{nowM|date:'yyyy-MM-dd'}}" name="nacimiento"
				  #nacimiento="ngModel" [(ngModel)]="persona.persona_fecha_nacimiento" required="true"
				  >

				  <p *ngIf="!nacimiento.valid && nacimiento.touched" class="red-text "> <i class="material-icons left">error_outline</i>La fecha no es válida</p>
			     </div>
			</div>

				<div class=" col m3 s6">
					<label for="first_name"> Primer nombre: <span class="obl">*</span></label>
				  <input type="text" pattern="[a-zA-Z ]+" class="validate" #nombre1="ngModel" data-length="30"
				  [(ngModel)]="persona.persona_primer_nombre" name="nombre1" required="" >

				  <p *ngIf="!nombre1.valid && nombre1.touched" class="red-text"> <i class="material-icons left ">error_outline</i>El nombre no es válido</p>

				</div>


				<div class=" col m3 s6">
				<label>Segundo nombre: <span class="obl">*</span></label>

				  <input type="text" pattern="[a-zA-Z ]+" class="validate" data-length="30" name="nombre2"
				  #nombre2="ngModel" [(ngModel)]="persona.persona_segundo_nombre" required="true"
				  >

				  <p *ngIf="!nombre2.valid && nombre2.touched" class="red-text "> <i class="material-icons left">error_outline</i>El nombre no es válido</p>

			  </div>

			  <div class=" col m3 s6">
					<label for="first_name"> Primer apellido: <span class="obl">*</span></label>
				  <input type="text" pattern="[a-zA-Z ]+" class="validate" #apellido1="ngModel" data-length="30"
				  [(ngModel)]="persona.persona_primer_apellido" name="apellido1" required="true">

				  <p *ngIf="!apellido1.valid && apellido1.touched" class="red-text"> <i class="material-icons left ">error_outline</i>El apellido no es válido</p>

				</div>


				<div class=" col m3 s6">
				<label>Segundo apellido: <span class="obl">*</span></label>

				  <input type="text" pattern="[a-zA-Z ]+" class="validate" data-length="30" name="apellido2"
				  #apellido2="ngModel" [(ngModel)]="persona.persona_segundo_apellido" required="true"
				  >

				  <p *ngIf="!apellido2.valid && apellido2.touched" class="red-text "> <i class="material-icons left">error_outline</i>El apellido no es válido</p>

			  </div>

		  </div>
<!-- Selects ---------------------------------------------------------------------------------------------------------------------- -->
		    <div class="row">

				<div class="col s4">
					<div input-field  name="genero" ngDefaultControl required="true"
					#genero="ngModel" [(ngModel)]="persona.genero_id">
					    <label>Género:<span class="obl">*</span></label>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>Seleccionar</option>
					        <option *ngFor="let x of generos" value="{{x.genero_id}}">{{x.genero_nombre}}</option>
					    </select>
					</div>
				</div>

				<div class="col s4">
					<div input-field  name="estadoC" ngDefaultControl required="true"
					#estado="ngModel" [(ngModel)]="persona.estado_civil_id">
					    <label>Estado Civil:<span class="obl">*</span></label>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>Seleccionar</option>
					        <option *ngFor="let x of estadosC" value="{{x.estado_civil_id}}">{{x.estado_civil_nombre}}</option>
					    </select>
					</div>
				</div>

				<div class="col s4">
					<div input-field  name="profesion" ngDefaultControl required="true"
					#profesion="ngModel" [(ngModel)]="persona.profesion_id">
					    <label>Profesion:<span class="obl">*</span></label>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>Seleccionar</option>
					        <option *ngFor="let x of profesiones" value="{{x.profesion_id}}">{{x.profesion_nombre}}</option>
					    </select>
					</div>
				</div>

			</div>
			<br>
<!-- Teléfonos------------------------------------------------------------------------------------------------------------- -->
			<h5 class="light">Teléfonos</h5>
			<div class="divider"></div>
			<div class="row">
				<div class="col s4">
					<div input-field  name="tipo_telefono_id" ngDefaultControl
					#tel="ngModel" [(ngModel)]="telefono.tipo_telefono_id">
					<br>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>Tipo Teléfono</option>
					        <option *ngFor="let x of tiposTelefonos" value="{{x.tipo_telefono_id}}">{{x.tipo_telefono_nombre}}</option>
					    </select>
					</div>
				</div>
		        <div class="input-field col m4 s6">
				  <input placeholder="" #num="ngModel" [(ngModel)]="telefono.telefono_numero" name="telefono_numero" type="text" class="validate"  pattern="[0-9]{8}" data-length="8">
				  <label  for="first_name" >Numero <span class="obl">*</span>: </label>
				  <span *ngIf="!num.valid && num.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El número no es válido</span>
				</div>
		        <div class="input-field col m2 s2">
		        	<!-- <button class="btn waves-effect waves-light green circular" [disabled]="!num.valid"><i class="material-icons left">add</i>Guardar
   					</button> -->
		        	<!-- <a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a> -->
		        	<div class="tooltip">
		        		<a (click)="agregarTelefono()"><i class="material-icons right green-text" >add_circle</i></a>
		        		<span class="tooltiptext">Agregar</span>
		        	</div>
		        	<div class="tooltip">
		        		<a (click)="ayudaTelefono()"><i class="material-icons right yellow-text" >help</i></a>
		        		<span class="tooltiptext">Ayuda</span>
		        	</div>
		        </div>
			</div>
			<div class="divider"></div><br>

<!-- Lista de teléfonos asignados------------------------------------------------------------------------------------------------------------ -->
			<div class="row" *ngIf="asignacionTelefonos.length !=0">
			  <div class="col m8 push-m4">
			  	<h6>Telefonos asignados</h6>
				<ul class="collection" *ngFor ="let x of asignacionTelefonos">
			      <li class="collection-item"><i class="material-icons left">local_phone</i>{{x.telefono_numero}}<a (click)="quitarTelefono(i)"><i class="material-icons right red-text">remove_circle</i></a></li>
			    </ul>
			  </div>
			</div>
<!-- Correos------------------------------------------------------------------------------------------------------------- -->
			<h5 class="light">Correos</h5>
			<div class="divider"></div>
			<div class="row">
				<div class="col s4">
					<div input-field  name="tipo_correo_id" ngDefaultControl
					#corr="ngModel" [(ngModel)]="correo.tipo_correo_id">
					<br>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>Tipo Correo</option>
					        <option *ngFor="let x of tiposCorreos" value="{{x.tipo_correo_id}}">{{x.tipo_correo_nombre}}</option>
					    </select>
					</div>
				</div>
		        <div class="input-field col m6 s6">
				  <input placeholder="" #dir="ngModel" [(ngModel)]="correo.correo_direccion" name="correo_direccion" type="email" class="validate">
				  <label  for="first_name" >Corrreo <span class="obl">*</span>: </label>
				  <span *ngIf="!dir.valid && dir.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>La dirección no es válida</span>
				</div>

		        <div class="input-field col m2 s2">
		        	<!-- <button class="btn waves-effect waves-light green circular" [disabled]="!num.valid"><i class="material-icons left">add</i>Guardar
   					</button> -->
		        	<!-- <a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a> -->
		        	<div class="tooltip">
		        		<a (click)="agregarCorreo()"><i class="material-icons right green-text" >add_circle</i></a>
		        		<span class="tooltiptext">Agregar</span>
		        	</div>
		        	<div class="tooltip">
		        		<a (click)="ayudaCorreo()"><i class="material-icons right yellow-text" >help</i></a>
		        		<span class="tooltiptext">Ayuda</span>
		        	</div>
		        </div>
			</div>
			<div class="divider"></div><br>

<!-- Lista de correos asignados------------------------------------------------------------------------------------------------------------ -->
			<div class="row" *ngIf="asignacionCorreos.length !=0">
			  <div class="col m8 push-m4">
			  	<h6>Correos asignados</h6>
				<ul class="collection" *ngFor ="let x of asignacionCorreos">
			      <li class="collection-item"><i class="material-icons left">mail</i>{{x.correo_direccion}}<a (click)="quitarCorreo(i)"><i class="material-icons right red-text">remove_circle</i></a></li>
			    </ul>
			  </div>
			</div>


<!-- Documentos------------------------------------------------------------------------------------------------------------- -->
			<h5 class="light">Documentos</h5>
			<div class="divider"></div>
			<div class="row">
				<div class="col s4">
					<div input-field  name="documento_id" ngDefaultControl
					#doc="ngModel" [(ngModel)]="documento.tipo_documento_id">
					<br>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>Tipo Documento</option>
					        <option *ngFor="let x of tiposDocumentos" value="{{x.tipo_documento_id}}">{{x.tipo_documento_nombre}}</option>
					    </select>
					</div>
				</div>
		        <div class="input-field col m6 s6">
				  <input placeholder="" #val="ngModel" [(ngModel)]="documento.documento_valor" name="documento_valor" type="text" class="validate">
				  <label  for="first_name" >Documento <span class="obl">*</span>: </label>
				  <span *ngIf="!val.valid && val.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El documento no es válido</span>
				</div>


		        <div class="input-field col m2 s2">
		        	<!-- <button class="btn waves-effect waves-light green circular" [disabled]="!num.valid"><i class="material-icons left">add</i>Guardar
   					</button> -->
		        	<!-- <a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a> -->
		        	<div class="tooltip">
		        		<a (click)="agregarDocumento()"><i class="material-icons right green-text" >add_circle</i></a>
		        		<span class="tooltiptext">Agregar</span>
		        	</div>
		        	<div class="tooltip">
		        		<a (click)="ayudaDocumento()"><i class="material-icons right yellow-text" >help</i></a>
		        		<span class="tooltiptext">Ayuda</span>
		        	</div>
		        </div>
			</div>
			<div class="divider"></div><br>

<!-- Lista de documentos asignados------------------------------------------------------------------------------------------------------------ -->
			<div class="row" *ngIf="asignacionDocumentos.length !=0">
			  <div class="col m8 push-m4">
			  	<h6>Documentos asignados</h6>
				<ul class="collection" *ngFor ="let x of asignacionDocumentos">
			      <li class="collection-item"><i class="material-icons left">picture_in_picture</i>{{x.documento_valor}}<a (click)="quitarDocumento(i)"><i class="material-icons right red-text">remove_circle</i></a></li>
			    </ul>
			  </div>

			</div>
<!--Dirección y domiciolio  ------------------------------------------------------------------------------------------>
			<div class="row">
			  	<h5 class="light"> Dirección y domicilio</h5>
		  		<div class="divider"></div> <br>
				<div class="col s4">
					<div input-field  name="pais" ngDefaultControl required="true"
					#pa="ngModel" [(ngModel)]="pais">
					    <label>País:<span class="obl">*</span></label>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>Seleccionar País:</option>
					        <option *ngFor="let x of listaPaises" value="{{x.estructura_territorial_nombre}}" (click)="getDepartamentos(x.estructura_territorial_id)">{{x.estructura_territorial_nombre}} </option>
					    </select>
					</div>
				</div>
			  	<!-- <pre>{{pais}}</pre> -->

				<div class="col s4">
					<div input-field  name="departamento" ngDefaultControl required="true"
					#departa="ngModel" [(ngModel)]="departamento">
					    <label>{{nivelUno}}:<span class="obl">*</span></label>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>Seleccionar Departamento:</option>
					        <option *ngFor="let x of listaDepartamentos" value="{{x.estructura_territorial_nombre}}" (click)="getMunicipios(x.estructura_territorial_id)">{{x.estructura_territorial_nombre}} </option>
					    </select>
					</div>
				</div>

				<div class="col s4">
					<div input-field  name="municipio" ngDefaultControl required="true"
					#mun="ngModel" [(ngModel)]="municipio">
					    <label>{{nivelDos}}:<span class="obl">*</span></label>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>Seleccionar Municipio:</option>
					        <option *ngFor="let x of listaMunicipios" value="{{x.estructura_territorial_nombre}}" (click)="setMunicipio(x.estructura_territorial_id)">{{x.estructura_territorial_nombre}} </option>
					    </select>
					</div>
				</div>

			</div>

			<ul class="collection" *ngIf=mostrar>
			    <li class="collection-item"><i class="material-icons left">location_city</i>{{municipio}}, {{departamento}}, {{pais}}.</li>
			</ul>

			<div class=" col m3 s6">
					<label for="first_name"> Dirección: <span class="obl">*</span></label>
				  <input type="text" class="validate" #dire="ngModel"
				  [(ngModel)]="direccion" name="direccion" required="" >

				  <p *ngIf="!dire.valid && dire.touched" class="red-text"> <i class="material-icons left ">error_outline</i>La dirección no es válida</p>

			</div>

<!-- Datos de contratación ----------------------------------------------------------------------------------------->
			   <div class="row">
			  	<h5 class="light">Datos de contratación </h5>

		  		<div class="divider"></div> <br>

		  		<div class="row">

				<div class=" col s4">
				<label>Fecha de inicio: <span class="obl">*</span></label>

				  <input type="date" min="{{now|date:'yyyy-MM-dd'}}" name="contratoi"
				  #contratoi="ngModel" [(ngModel)]="detalleContrato.detalle_contrato_fecha_inicio" required="true"
				  >

				  <p *ngIf="!contratoi.valid && contratoi.touched" class="red-text "> <i class="material-icons left">error_outline</i>La fecha no es válida</p>
			     </div>

			     <div class=" col s4">
			     <label>Fecha de finalización: <span class="obl">*</span></label>

				  <input type="date" min="{{now|date:'yyyy-MM-dd'}}" name="contratof"
				  #contratof="ngModel" [(ngModel)]="detalleContrato.detalle_contrato_fecha_fin" required="true"
				  >

				  <p *ngIf="!contratof.valid && contratof.touched" class="red-text "> <i class="material-icons left">error_outline</i>La fecha no es válida</p>
			     </div>

			     <div class="col s4">
					<div input-field  name="contrato" ngDefaultControl required="true"
					#contrato="ngModel" [(ngModel)]="detalleContrato.contrato_id">
					    <label>Contrato:<span class="obl">*</span></label>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>Seleccionar</option>
					        <option *ngFor="let x of contratos" value="{{x.contrato_id}}">{{x.contrato_descripcion}}</option>
					    </select>
					</div>
				</div>


			</div>
<!---------------------------------------------------------------------------------------------------------  -->
		<h5 class="light">Datos de Puesto </h5>
		<div class="divider"></div> <br>

		<div class="row">
			<div class="col m4">
				<div input-field name="depto_nombre" ngDefaultControl required="true"
				#nom="ngModel" [(ngModel)]="depto_nombre" ngDefaultControl required>
				    <label>Departamentos:<span class="obl">*</span></label>
				    <select class="" material-select watch class="browser-default">
				    	<option value="" disabled selected>Seleccionar Departamento:</option>
				        <option *ngFor="let x of listaDepartamentosOrg" value="{{x.nivel_estructura_nombre}}" (click)="getPuestosbyDepto(x.nivel_estructura_id)">{{x.nivel_estructura_nombre}} </option>
				    </select>
				</div>
			</div>

			<div class="col m8">
				<div input-field  name="puesto_id" ngDefaultControl required="true"
				#pu="ngModel" [(ngModel)]="puesto_id">
				    <label>Puestos del departamento de {{depto_nombre}}:<span class="obl">*</span></label>
				    <select class="" material-select watch class="browser-default">
				    	<option value="" disabled selected>Seleccionar Puesto:</option>
				        <option *ngFor="let x of listaPuestosOrg" value="{{x.puesto_id}}">{{x.puesto_nombre}}
				        <p *ngIf="x.puesto_tiene_comision" class="green-text">  (Puesto con comisión) </p>
				    	</option>
				    </select>
				</div>
			</div>
		</div>
<!-- ------------------------------------------------------------------------------------------------------- -->

			<div class="row">

			     <!-- <div class="col s4">
					<div input-field  name="puesto" ngDefaultControl required="true"
					#puesto="ngModel" [(ngModel)]="empleado.puesto_id">
					    <label>Puesto:<span class="obl">*</span></label>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>Seleccionar</option>
					        <option *ngFor="let x of puestos" value="{{x.puesto_id}}">{{x.puesto_nombre}}.<p *ngIf="x.puesto_tiene_comision ">  Contiene comisión </p></option>
					    </select>
					</div>
				</div> -->


			     <div class="col s4">
					<div input-field  name="tipoSalario" ngDefaultControl required="true"
					#tipoSal="ngModel" [(ngModel)]="salario.tipo_salario_id">
					    <label>Tipo de salario:<span class="obl">*</span></label>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>Seleccionar</option>
					        <option *ngFor="let x of tipoSalarios" value="{{x.tipo_salario_id}}">{{x.tipo_salario_nombre}}</option>
					    </select>
					</div>
				</div>

			  <div class=" col s4">
					<label for="mont"> Monto: $<span class="obl">*</span></label>
				  <input placeholder="300" class="validate" #monto="ngModel"
				  [(ngModel)]="salario.salario_monto_base" name="minimo" required="true" data-length="15" type="number" steap="any" min="300" >

				  <p *ngIf="!monto.valid && monto.touched" class="red-text"> <i class="material-icons left ">error_outline</i>El monto no es válido</p>

				</div>

			</div>

			  </div>


<!-- Botones para enviar formulario--------------------------------------------------------------------------------------------------------- -->
		  <div class="row right">
		  	<a class="waves-effect waves-light btn red " [routerLink]="['/empleado']">	<i class="material-icons white-text left">close</i>
			Cancelar</a>
		  	 <button class="btn waves-effect waves-light green" type="submite" name="action" [disabled]="!formEmpleado.form.valid"><i class="material-icons left">send</i>Guardar

 			</button>
		  </div>


		  <div class="row"></div>
		  </div>
		 </div>
		</form>



		<br>
		<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>

	</div>

<!-- Modals -->

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
</main>

<style>
	.circular {
	  border-radius: 100px;
	  width: 20px;
	  height: 20px;
	}
</style>
