<sidebar></sidebar>

<main *ngIf=empleado>
	<div class="row">
		<div class="container">
			<nav class="transparent z-depth-0">
				<a [routerLink]="['/empleado']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
			    <div class="nav-wrapper right">
			      <div class="col s12">
			        <a [routerLink]="['/empleado']" class="breadcrumb ">Empleados</a>
			        <a class="breadcrumb ">{{empleado.persona.persona_primer_nombre}} {{empleado.persona.persona_segundo_nombre}}</a>
			      </div>
			    </div>
			  </nav>
			<br>
			<h4 class="light">{{empleado.persona.persona_primer_nombre}} {{empleado.persona.persona_segundo_nombre}} <span class="teal-text semi-bold">{{empleado.persona.persona_primer_apellido}} {{empleado.persona.persona_segundo_apellido}}</span></h4>
			
		</div>
	</div>

		<div class="container">
			<div class="card-panel animated fadeIn">
				<h5 class="bold">Datos personales</h5>
				<div class="divider"></div>

					<div class="row">
			

					<div class="col m6 s6">
					
						<p><span class="bold">Edad:</span> {{edad}} años</p>
						<p><span class="bold">Estado civil:</span> {{empleado.persona.estado_civil.estado_civil_nombre}}</p>
						<p><span class="bold">Profesión:</span> {{empleado.persona.profesion.profesion_nombre}}</p>
						

						
					</div>

						
					<div class="col m6 s6">

						<p><span class="bold">Fecha de nacimiento:</span> {{ fechaN| date: 'dd/MM/yyyy' }} </p>
						<p><span class="bold">Género:</span> {{empleado.persona.genero.genero_nombre}}</p>
						<p><span class="bold">Descripción:</span> {{empleado.persona.profesion.profesion_descripcion}}</p>
					</div>

					</div>
					<div class="row">
					<div class="col m6 s6">
						<h5 class="light">Correos</h5>

						<div *ngFor=" let c of empleado.persona.correos">
							<p><span class="bold"> > {{c.tipo_correo.tipo_correo_nombre}}</span> - {{c.correo_direccion}}</p>
							
						</div>
						</div>

					

					<div class="col m6 s6">
						<h5 class="light">Teléfonos</h5>

						<div *ngFor=" let t of empleado.persona.telefonos">
							<p><span class="bold"> > {{t.tipo_telefono.tipo_telefono_nombre}}</span> - {{t.telefono_numero}}</p>
							
						</div>
					</div>


				
					</div>

					<div class="row">
						

					<div class="col m6 s6">
						<h5 class="light">Dirección</h5>

						<p> 
						{{ empleado.persona.direccion.direccion_nombre}} - 
						{{ empleado.persona.direccion.estructura_territorial.estructura_territorial_nombre}} -
						{{ empleado.persona.direccion.estructura_territorial.padre.estructura_territorial_nombre}} -
						{{ empleado.persona.direccion.estructura_territorial.padre.padre.estructura_territorial_nombre}} 
						</p>

				
					</div>


					<div class="col m6 s6">
						<h5 class="light">Documentos</h5>

						<div *ngFor=" let d of empleado.persona.documentos">
							<p><span class="bold"> > {{d.tipo_documento.tipo_documento_nombre}}</span> - {{d.documento_valor}}</p>
							
					</div>
						</div>


				
					</div>
				

				<h5 class="bold">Datos de Contratación</h5>
				<div class="divider"></div>
					
				<div class="row">
			

					<div class="col m6 s6">
					
						<p><span class="bold">Código:</span> {{empleado.empleado_codigo}}</p>
						<p><span class="bold">Puesto:</span> {{empleado.puesto.puesto_nombre}} </p>
						<p><span class="bold">Puesto Descripción:</span> {{empleado.puesto.puesto_descripcion}} </p>
						<p><span class="bold">Contrato:</span> {{empleado.detalles_contrato[0].contrato.contrato_descripcion}} </p>
						<p><span class="bold">Fecha de inicio:</span> {{empleado.detalles_contrato[0].detalle_contrato_fecha_inicio| date: 'dd/MM/yyyy' }} </p>
						
					</div>
					<div class="col m6 s6">

						<p><span class="bold">Salario base:</span> $ {{empleado.salario.salario_monto_base|number: '.2'}} </p>
						<p *ngIf=empleado.puesto.puesto_tiene_comision><span class="bold">Tiene comisión por venta:</span> SI </p> 
						<p><span class="bold">Departamento:</span> {{empleado.puesto.nombre_nivel}} </p>

						

				
					</div>

	

					
					
				
			</div>
		</div>
	</div>
</main>