<sidebar></sidebar>

<main>
	<div class="container">
		<nav class="transparent z-depth-0">
		<a [routerLink]="['/empresa']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb " [routerLink]="['/empresa']">Empresas</a>
		        <a class="breadcrumb ">Agregar</a>
		      </div>
		    </div>
		  </nav>
		<br>
		<h4 class="light">Formulario para editar información de <span class="teal-text semi-bold">Empresa</span></h4>
		<br>
		<div class="card-panel">
			
		  <div class="row">
			<form #formEmpresa="ngForm" (ngSubmit)="guardarEmpresa()">
			  <div class="row">
				<div class="input-field col m4 s6">
				  <input placeholder="" #emp="ngModel" [(ngModel)]="empresa.empresa_nombre" name="empresa_nombre" type="text" class="validate" required>
				  <label  for="first_name" >Nombre de la empresa<span class="obl">*</span>: </label>
				  <span *ngIf="!emp.valid && emp.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El nombre no es válido</span>
				</div>
				<div class="input-field col m8 s6">
				  <input placeholder="" #dir="ngModel" [(ngModel)]="empresa.empresa_direccion" name="empresa_direccion" type="text" class="validate" required>
				  <label  for="first_name" >Dirección de la empresa<span class="obl">*</span>: </label>
				  <span *ngIf="!emp.valid && emp.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>La dirección no es válida.</span>
				</div>

				  <div class=" col m4 s6">
				  	<div #dep="ngModel" [(ngModel)]="empresa.estructura_territorial_id" name="empresa.estructura_territorial_id" ngDefaultControl>
					  <label>Pais:</label>
						  <select class="browser-default">
						    <option value="" disabled selected>Escoja país</option>
						    <option *ngFor="let x of paises" value={{x.estructura_territorial_id}}>{{x.estructura_territorial_nombre}}</option>
						  </select>
					</div>
				  </div>


				<div class="input-field col m4 s6">
				  <input placeholder="" #nic="ngModel" [(ngModel)]="empresa.empresa_representante" name="empresa_nic" type="text" class="validate" required>
				  <label  for="first_name" >Nombre del representante<span class="obl">*</span>: </label>
				  <span *ngIf="!emp.valid && emp.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El NIC no es válido.</span>
				</div>
				<div class="input-field col m4 s6">
				  <input placeholder="" #nit="ngModel" [(ngModel)]="empresa.empresa_correo_representante" name="empresa_nit" type="text" class="validate" required>
				  <label  for="first_name" >Correo del representante<span class="obl">*</span>: </label>
				  <span *ngIf="!emp.valid && emp.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El NIT no es válido.</span>
				</div>
				<div class="input-field col m4 s6">
				  <input placeholder="" #web="ngModel" [(ngModel)]="empresa.empresa_pagina_web" name="empresa_pagina_web" type="text" class="validate" required>
				  <label  for="first_name" >Página web<span class="obl">*</span>: </label>
				  <span *ngIf="!emp.valid && emp.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>La página web no es válida.</span>
				</div>

				<div class="input-field col m4 s6">
				  <input placeholder="" #log="ngModel" [(ngModel)]="empresa.empresa_logo" name="empresa_logo" type="text" class="validate" required>
				  <label  for="logo" >Logo<span class="obl">*</span>: </label>
				  <span *ngIf="!log.valid && log.touched" class="red-textlogght"> <i class="material-icons left ">error_outline</i>La url del logo no es válida.</span>
				</div>

				<div class=" col m4 s6">
				  	<div #dep="ngModel" [(ngModel)]="empresa.plan_id" name="empresa.plan_id" ngDefaultControl>
					  <label>Plan:</label>
						  <select class="browser-default">
						    <option value="" disabled selected>Escoja plan</option>
						    <option *ngFor="let x of planes" value={{x.plan_id}}>{{x.plan_nombre}} - ${{x.plan_precio}}</option>
						  </select>
					</div>
				  </div>
<!-- 
				<div>
			    <select>
			      <option value="" disabled selected>Escoja la opcion</option>
	 		      <option *ngFor="let x of planes" value={{x.plan_id}}>{{x.plan_nombre}} - ${{x.plan_precio}} </option>
			    </select>
			    <label>Planes</label>
				</div>
			  </div> -->

			  <!-- <div class="row"> -->
			  	<div class="col m4">
			  		<select  #dep="ngModel" [(ngModel)]="empresa.plan_id" name="empresa.plan_id" material-select>
					    <option *ngFor="let x of planes" value={{x.plan_id}}>{{x.plan_nombre}} - ${{x.plan_precio}} </option>
					</select>
			  	</div>
			  <!-- </div> -->

			  </div>
		  <div class="row right">
		  	<a [routerLink]="['/empresa']" class="waves-effect waves-light btn red lighten-2"><i class="material-icons white-text left">close</i>Cancelar</a>
		  	<button class="btn waves-effect waves-light green  lighten-2" type="submit" name="action" [disabled]="!formEmpresa.form.valid"><i class="material-icons left">send</i>Aceptar</button>
		  </div>
		  <div class="row"></div>
			</form>
			
		  </div>
		</div>
		<br>
		<div class="divider"></div><br>
		<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>

		
		  <pre>
		  	{{empresa.empresa_nombre}}
		  	{{empresa.plan_id}}
		  </pre>
			<div class="input-field col m4">
		    <select>
		      <optgroup label="team 1">
		        <option value="1">Option 1</option>
		        <option value="2">Option 2</option>
		      </optgroup>
		      <optgroup label="team 2">
		        <option value="3">Option 3</option>
		        <option value="4">Option 4</option>
		      </optgroup>
		    </select>
		    <label>Optgroups</label>
		  </div>
		<!-- </div> -->
		
	</div>
</main>