<sidebar></sidebar>
<main>
	<div class="container">
		 <nav class="transparent z-depth-0 right">
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb">SIPEL</a>
		        <a class="breadcrumb">Listado de Empresas</a>
		      </div>
		    </div>
		  </nav>
		<br>

		<!-- Empresas activas -->
		<h4 class="light">Listado de <span class="teal-text semi-bold">Empresas</span></h4><br>
		<a class="waves-effect waves-light btn teal" [routerLink]="['/empresa-add']"><i class="material-icons white-text left">add</i>Agregar</a><br><br>
		<div *ngIf = !listaEmpresas>
			<h4 class="teal-text center">Cargando empresas...</h4>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress teal">
				      <div class="indeterminate teal darken-3"></div>
				  </div>
		    	</div>
		    </div>
		</div>

		<div class="card-panel" *ngIf = listaEmpresas>
		  <table>
			<thead>
			  <tr >
				  <th>ID</th>
				  <th>Nombre</th>
				  <th>Dirección</th>
				  <th>Página Web</th>
				  <th>Logo</th>
				  <th>Correo representante</th>
				  <th class="center">Opciones</th>
			  </tr>
			</thead>

			<tbody *ngFor= "let x of listaEmpresas">
			  <tr>
				<td>{{x.empresa_id}}</td>
				<td>{{x.empresa_nombre}}</td>
				<td>{{x.empresa_direccion}}</td>
				<td><a target="_blank" href={{x.empresa_pagina_web}}>{{x.empresa_pagina_web}}</a></td>
				<td><img src={{x.empresa_logo}} alt="" width="50px"></td>
				<td>{{x.empresa_correo_representante}}</td>
				<td class="center">
					<div class="tooltip">
						<a [routerLink]="['/empresa-edit', x.empresa_id]" class="waves-effect waves-light btn blue lighten-2 myButton"><i class="material-icons white-text ">create</i></a>
			  			<span class="tooltiptext">Editar</span>
					</div>
					<div class="tooltip">
						<a (click)="deshabilitar(x)" class="waves-effect waves-light btn red lighten-2 myButton"><i class="material-icons white-text ">delete</i></a>
			  			<span class="tooltiptext">Deshabilitar</span>
					</div>
					
				</td>
			  </tr>
			</tbody>
		  </table>
		</div>

		<h4 class="light">Listado de <span class="teal-text semi-bold">Empresas Deshabilitadas</span></h4><br>
		<div *ngIf = !listaDeshabilitadas>
			<h4 class="teal-text center">Cargando empresas deshabilitadas...</h4>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress teal">
				      <div class="indeterminate teal darken-3"></div>
				  </div>
		    	</div>
		    </div>
		</div>

		<div class="card-panel" *ngIf = listaDeshabilitadas>
		  <table>
			<thead>
			  <tr >
				  <th>ID</th>
				  <th>Nombre</th>
				  <th>Dirección</th>
				  <th>Página Web</th>
				  <th>Logo</th>
				  <th>Correo representante</th>
				  <th class="center">Opciones</th>
			  </tr>
			</thead>

			<tbody *ngFor= "let x of listaDeshabilitadas">
			  <tr>
				<td>{{x.empresa_id}}</td>
				<td>{{x.empresa_nombre}}</td>
				<td>{{x.empresa_direccion}}</td>
				<td><a href={{x.empresa_pagina_web}}>{{x.empresa_pagina_web}}</a></td>
				<td><img src={{x.empresa_logo}} alt="" width="50px"></td>
				<td>{{x.empresa_correo_representante}}</td>
				<td class="center">
					<div class="tooltip">
						<a [routerLink]="['/genero-edit', x.genero_id]" class="waves-effect waves-light btn blue lighten-2 myButton"><i class="material-icons white-text ">create</i></a>
			  			<span class="tooltiptext">Editar</span>
					</div>
					<div class="tooltip">
						<a (click)="habilitar(x)" class="waves-effect waves-light btn green lighten-2 myButton"><i class="material-icons white-text ">arrow_upward</i></a>
			  			<span class="tooltiptext">Habilitar</span>
					</div>
					
				</td>
			  </tr>
			</tbody>
		  </table>
		</div>

		<h4 class="light">Listado de <span class="teal-text semi-bold">solicitudes de empresas Pendientes</span></h4><br>
		<div *ngIf = !listaDeshabilitadas>
			<h4 class="teal-text center">Cargando empresas pendientes...</h4>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress teal">
				      <div class="indeterminate teal darken-3"></div>
				  </div>
		    	</div>
		    </div>
		</div>

		<div class="card-panel" *ngIf = listaPendientes>
		  <table>
			<thead>
			  <tr >
				  <th>ID</th>
				  <th>Nombre</th>
				  <th>Dirección</th>
				  <th>Página Web</th>
				  <th>Logo</th>
				  <th>Correo representante</th>
				  <th class="center">Opciones</th>
			  </tr>
			</thead>

			<tbody *ngFor= "let x of listaPendientes">
			  <tr>
				<td>{{x.empresa_id}}</td>
				<td>{{x.empresa_nombre}}</td>
				<td>{{x.empresa_direccion}}</td>
				<td><a href={{x.empresa_pagina_web}}>{{x.empresa_pagina_web}}</a></td>
				<td><img src={{x.empresa_logo}} alt="" width="50px"></td>
				<td>{{x.empresa_correo_representante}}</td>
				<td class="center">
					<div class="tooltip">
						<a [routerLink]="['/genero-edit', x.genero_id]" class="waves-effect waves-light btn blue lighten-2 myButton"><i class="material-icons white-text ">create</i></a>
			  			<span class="tooltiptext">Editar</span>
					</div>
					<div class="tooltip">
						<a (click)="habilitar(x)" class="waves-effect waves-light btn green lighten-2 myButton"><i class="material-icons white-text ">arrow_upward</i></a>
			  			<span class="tooltiptext">Habilitar</span>
					</div>
					
				</td>
			  </tr>
			</tbody>
		  </table>
		</div>


	</div>
</main>
