<div class="row">
	<div class="blue-grey darken-4 col m12 s12 full-width">
		<br>
		<br>
		<div class="container center">
			<i class="material-icons white-text animated bounceInDown" style="font-size: 170px">sentiment_very_dissatisfied</i>
			<h1 class="white-text bold animated bounceInUp">Ooops!</h1>
			<h3 class="white-text light animated bounceInUp">La página solicitada no existe.</h3>
		</div>
		<br>
		<div class="container center">
			<a class="waves-effect waves-light btn-large animated bounceInUp" [routerLink]="['/home']">Página Principal</a>
		</div>
	</div>
</div>


<style>
	.full-width {
	    height: 100%;
	    min-height: 100vh;
      /*background: url(http://78.media.tumblr.com/090363be4c1e1fc466da369d98fc5296/tumblr_nxklbeYlz71u60tx6o1_1280.jpg);*/
      background-repeat: no-repeat;
      background-size: 100% auto;
	}
</style>