<sidebar></sidebar>

<main>	
<div class="container">
	<br>
	<div class="card-panel">
		<div class="row">
			<div class="col m4 s12 center">
				<img src="{{empresa.empresa_logo}}" alt="" class="center" width="90px">
			</div>
			<div class="col m4 s12">
				<h6 class="light"><span class="bold">Usuario: </span>{{usuario}}</h6>
				<h6 class="light"><span class="bold">Rol: </span> {{rol}}</h6>
				<h6 class="light" *ngIf=mostrar><span class="bold">Empresa: </span> {{empresa.empresa_nombre}}</h6>
			</div>
				<div class="col m4 s12">
				<h6 class="light" *ngIf=mostrar><span class="bold">Plan: </span> {{empresa.plan.plan_nombre}}</h6>
				<h6 class="light" *ngIf=mostrar><span class="bold">Empleados: </span> {{cantidad_empleados}}/{{empresa.plan.plan_max_empleados}}</h6>
			</div>
		</div>
	</div>
	<div class="row">
		<a [routerLink]="['/genero']">
			<div class="col m4 s6">
			<div class="card blue-grey darken-2 animated zoomIn" style="animation-delay: 0.25s">
	            <div class="card-content white-text"><br>
	              <span class="card-title"><i class="large material-icons left">accessibility</i></span>
	              <p>Generos</p><br>
	            </div>
      		</div>
		</div>
		</a>
		<a [routerLink]="['/mi-empresa']">
		<div class="col m4 s6">
			<div class="card blue-grey darken-1 animated zoomIn" style="animation-delay: 0.6s">
	            <div class="card-content white-text"><br>
	              <span class="card-title"><i class="large material-icons left">business</i></span>
	              <p>Mi Empresa.</p><br>
	            </div>
      		</div>
		</div>
		</a>
		
			<a [routerLink]="['/ayuda']">
			<div class="col m4 s6">
			<div class="card blue-grey darken-3 animated zoomIn" style="animation-delay: 0.9s">
	            <div class="card-content white-text"><br>
	              <span class="card-title"><i class="large material-icons left">help_outline</i></span>
	              <p>Ayuda</p><br>
	            </div>
      		</div>
		</div>
		</a>
		<div class="col m6 s6 right">
			<div class="card blue-grey darken-1 animated zoomIn" style="animation-delay: 1.2s">
	            <div class="card-content white-text"><br>
	              <span class="card-title"><i class="large material-icons left">trending_up</i></span>
	              <p>Estadísticas</p><br>
	            </div>
      		</div>
		</div>
		<div class="col m2 s6 right">
			<div class="card blue-grey darken-2 animated zoomIn" style="animation-delay: 1.0s">
	            <div class="card-content white-text"><br>
	              <span class="card-title"><i class="large material-icons left">desktop_mac</i></span><br><br>	
	              <!-- <p>Estadísticas</p><br> -->
	            </div>
      		</div>
		</div>	
		<a [routerLink]="['/roles']">Roles</a>
	</div>

	
</div>
</main>



