<sidebar></sidebar>


<main>

	<div class="container">
		<nav class="transparent z-depth-0">
		<a [routerLink]="['/home']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb ">General</a>
		        <a class="breadcrumb ">Mi empresa</a>
		      </div>
		    </div>
		 </nav>
		 <div *ngIf=!mostrar>
		 	<h4 class="teal-text center">Cargando información...</h4>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress teal">
				      <div class="indeterminate teal darken-3"></div>
				  </div>
		    	</div>
		    </div>
		 </div>
		<div class="card-panel" *ngIf=mostrar>
	<h4>Mi empresa</h4>
	<div class="divider"></div><br>
	<h5><i class="material-icons left">business</i>Empresa: <span class="light">{{empresa.empresa_nombre}}</span></h5>
	<h5><i class="material-icons left">language</i>Sitio web: <a href={{empresa.empresa_pagina_web}}> {{empresa.empresa_pagina_web}}</a></h5>
	<h5><i class="material-icons left">place</i>Dirección: <span class="light">{{empresa.empresa_direccion}}</span></h5>
	<h5><i class="material-icons left">place</i>País: <span class="light">{{empresa.estructuraTerritorial.estructura_territorial_nombre}}</span></h5>
	<h5><i class="material-icons left">face</i>Representante: <span class="light">{{empresa.empresa_representante}}</span></h5>
	<h5><i class="material-icons left">mail</i>Correo Representante: <span class="light">{{empresa.empresa_correo_representante}}</span></h5>
	<h5><i class="material-icons left">date_range</i>Fecha Solicitud: <span class="light">{{empresa.empresa_fecha_solicitud}}</span></h5>
	<h5><i class="material-icons left">date_range</i>Fecha Aprobación: <span class="light">{{empresa.empresa_fecha_aprobacion}}</span></h5>
	<h5><i class="material-icons left">monetization_on</i>Plan: <span class="light">{{empresa.plan.plan_nombre}} - ${{empresa.plan.plan_precio}}</span></h5>
	<h5><i class="material-icons left">near_me</i>Estado: <span class="light">{{empresa.estado.estado_nombre}}</span></h5>
	<img src={{empresa.empresa_logo}} alt="" width="200px" class="center">
		<div class="divider"></div><br>
		<!-- <div class="right">
			<a [routerLink]="['/empresa-edit', empresa.empresa_id]" class="waves-effect waves-light btn blue lighten-2"><i class="material-icons white-text left">create</i>Editar</a>
		</div> -->
		</div>
	</div> 
</main>

<!-- {
  "empresa_id": 2,
  "estado": {
    "estado_id": 1,
    "estado_nombre": "Activa",
    "estado_descripcion": "Empresa activa"
  },
  "documentoEmpresa": [],
  "empresa_nombre": "Escuela Mejicanos",
  "empresa_direccion": "Frente a Gasolinera, edificio 4",
  "empresa_representante": "Juan José",
  "empresa_pagina_web": "escuela.com",
  "empresa_fecha_solicitud": "2018-05-24 00:00:00",
  "empresa_fecha_aprobacion": "2018-05-24 00:00:00",
  "empresa_correo_representante": "mm14089@ues.edu.sv",
  "empresa_logo": "https://res.cloudinary.com/keystone-demo/image/upload/v1525583104/kevpscahffatjixzkuyj.jpg",
  "plan_id": 3,
  "plan": {
    "plan_id": 3,
    "plan_nombre": "PREMIUM",
    "plan_descripcion": "SIPEL para grandes negocios",
    "plan_precio": "4000.00",
    "plan_max_empleados": 10000
  },
  "estructura_territorial_id": 1,
  "estructuraTerritorial": {
    "estructura_territorial_id": 1,
    "est_estructura_territorial_id": null,
    "tipo_estructura_id": 1,
    "estructura_territorial_nombre": "El salvador"
  }
} -->