<sidebar></sidebar>

<main>
	<div class="container">
		<nav class="transparent z-depth-0">
		<a [routerLink]="['/mi-empresa']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb ">Mi Empresa</a>
		        <a class="breadcrumb ">Editar</a>
		      </div>
		    </div>
		  </nav>
		<br>
		<h4 class="light">Formulario para editar información de <span class="teal-text semi-bold">Empresa</span></h4>
		<br>
		<div class="card-panel">
			
		  <div class="row">
			<form #formEmpresa="ngForm" (ngSubmit)="guardarEmpresa()">
			  <div class="row">
				<div class="input-field col m4 s6">
				  <input placeholder="" #emp="ngModel" [(ngModel)]="empresa.empresa_nombre" name="empresa_nombre" type="text" class="validate" required>
				  <label  for="first_name" >Nombre de la empresa<span class="obl">*</span>: </label>
				  <span *ngIf="!emp.valid && emp.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El nombre no es válido</span>
				</div>
				<div class="input-field col m8 s6">
				  <input placeholder="" #dir="ngModel" [(ngModel)]="empresa.empresa_direccion" name="empresa_direccion" type="text" class="validate" required>
				  <label  for="first_name" >Dirección de la empresa<span class="obl">*</span>: </label>
				  <span *ngIf="!emp.valid && emp.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>La dirección no es válida.</span>
				</div>
				<div class="input-field col m4 s6">
				  <input placeholder="" #nic="ngModel" [(ngModel)]="empresa.empresa_nic" name="empresa_nic" type="text" class="validate" required>
				  <label  for="first_name" >NIC de la empresa<span class="obl">*</span>: </label>
				  <span *ngIf="!emp.valid && emp.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El NIC no es válido.</span>
				</div>
				<div class="input-field col m4 s6">
				  <input placeholder="" #nit="ngModel" [(ngModel)]="empresa.empresa_nic" name="empresa_nit" type="text" class="validate" required>
				  <label  for="first_name" >NIT de la empresa<span class="obl">*</span>: </label>
				  <span *ngIf="!emp.valid && emp.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El NIT no es válido.</span>
				</div>
				<div class="input-field col m4 s6">
				  <input placeholder="" #web="ngModel" [(ngModel)]="empresa.empresa_pagina_web" name="empresa_pagina_web" type="text" class="validate" required>
				  <label  for="first_name" >Página web<span class="obl">*</span>: </label>
				  <span *ngIf="!emp.valid && emp.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>La página web no es válida.</span>
				</div>

			  </div>
		  <div class="row right">
		  	<a [routerLink]="['/mi-empresa']" class="waves-effect waves-light btn red lighten-2"><i class="material-icons white-text left">close</i>Cancelar</a>
		  	<button class="btn waves-effect waves-light green  lighten-2" type="submit" name="action" [disabled]="!formEmpresa.form.valid"><i class="material-icons left">send</i>Aceptar</button>
		  </div>
		  <div class="row"></div>
			</form>
		  </div>
		</div>
		<br>
		<div class="divider"></div><br>
		<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>
	</div>
</main>