<div class="row">
	<div class="col m8 s12 teal lighten-2 full-width">
		<div class="container animated fadeInLeft">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<img src="./assets/images/logoSIPELBN.png" width="90%">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<h4 class="white-text light">Sistema Informático de <strong>Planillas</strong> en línea.</h4>
			<p class="white-text light ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo beatae placeat laboriosam dignissimos corrupti ut rem, iure, deserunt itaque numquam suscipit veniam nesciunt ea, sed at? Voluptas quibusdam ullam ratione.</p>
		</div>
	</div>

	<div class="col m4 s12 full-width blue-grey darken-3">
		<div class="container">
			<div class="container animated fadeInRight" *ngIf="procesar == false">
			<br>
			<br>
			<br>
			<br>
			<h4 class="white-text light">Iniciar sesión</h4>

			<form #formGenero="ngForm" (ngSubmit)="IniciarSesion()">

				<div class="row">
					<div class="input-field col m12 s12">
		          		<input #us="ngModel" [(ngModel)]="usuario.usuario_nombre" name="usuario_nombre" type="text" class="validate" required>
		          		<label>Usuario:</label>
		           		<!-- <span *ngIf="!us.valid && us.touched" class="red-text thin"> El nombre es obligatorio</span> -->
		        	</div>
				</div>

				<div class="row">
		        	<div class="input-field col m12 s12">
		          		<input #pass="ngModel" [(ngModel)]="usuario.usuario_contrasenia" name="usuario_contrasenia" type="password" class="validate" required>
		          		<label>Contraseña:</label>
		          		<!-- <span *ngIf="!pass.valid && pass.touched" class="red-text thin">La contraseña es obligatoria</span> -->
		        	</div>
	        	</div>

				<!-- <button class="btn waves-effect waves-light white my" type="submit" name="action"> Login</button> -->
				<button class="btn-large waves-effect waves-light teal animated fadeIn" type="submit" name="action"> Login</button>
			</form>
			<br>
			<a [routerLink]="['/registro']"><p class="white-text light">¿No tienes cuenta? Registrate acá.</p></a>
			<br>
			<div class="row animated shake" *ngIf="errMsg==true">
		        <div class="col s12 m12">
		          <div class="card red">
		            <div class="card-content white-text">
		              <span class="card-title">{{baneado}}</span>
		            </div>
		          </div>
		        </div>
		      </div>
		  
		</div>
	</div>
</div>

<style>
	main{
   	 padding-left: 10px important!;
	}
	.full-width {
	    height: 100%;
	    min-height: 100vh;
      /*background: url(http://78.media.tumblr.com/090363be4c1e1fc466da369d98fc5296/tumblr_nxklbeYlz71u60tx6o1_1280.jpg);*/
      background-repeat: no-repeat;
      background-size: 100% auto;
	}

	.my{
		color: black;
	}

	/* label color */
   .input-field label {
     color: white;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: white;
   }
   /* label focus color */
   .input-field input[type=password]:focus + label {
     color: white;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
   }
   .input-field input[type=password]:focus {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
   }
   .input-field input[type=text]{
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
   }
   .input-field input[type=password]{
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
   }

   .card .card-title {
	  font-size: 20px;
	  font-weight: 300;
	}
</style>
