<sidebar></sidebar>
<main>

<div class="container">
	<nav class="transparent z-depth-0">
		<!-- <a [routerLink]="['/tipo-correo']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a> -->
	    <div class="nav-wrapper right">
	      <div class="col s12">
	        <a class="breadcrumb ">Configuración</a>
	        <a  class="breadcrumb ">Mi Usuario</a>
	      </div>
	    </div>
	 </nav>
</div>

<div class="container" *ngIf=nuevo>
	<div class="card-panel teal">
		<h3 class="light white-text">¡Bienvenido a tu primer inicio de sesión!</h3>
		<h6 class="light white-text">Te sugerimos que cambies tu usuario y contraseña.</h6>
	</div>
</div>

	<br>
	<br>
	<div class="container" *ngIf=mostrar>
		<div class="card-panel">
			<div class="container center">
				<img src="https://static.listionary.com/core/img/default-user.png" alt="" class="circle" width="120px">
				<!-- <h6 class="bold">USUARIO</h6> -->
				<h4 class="bold">{{usuario_nombre}}</h4>
				<!-- <h6 class="bold">ROL</h6> -->
				<h4 class="light">{{usuario_rol}}</h4>
				<!-- <h6 class="bold">ULTIMO INGRESO</h6> -->
				<h6 class="light">{{usuario_ultimo_intento}}</h6>
				<br>
				<p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni facilis, cupiditate quod. Sequi quo quia nobis aspernatur quis ipsam illum quasi praesentium quisquam voluptas exercitationem commodi mollitia, ipsum magni unde!</p>
				
				<div class="divider"></div><br>
				<div class="row right">
					<div class="col m12">
						<a class="waves-effect waves-light btn light-blue darken-3" (click)="editar()"><i class="material-icons left">create</i>Editar</a>
					</div>
				</div>
				<div class="row"></div>
			</div>
		</div>
	</div>

	<div class="container" *ngIf=!mostrar>
		<div class="card-panel">
			<div class="container">
				<div class="row">
					<form class="m12" #formUsuario="ngForm" (ngSubmit)="guardarUsuario()">
						<div class="row">
							<div class=" col m6">
					          <label for="first_name">Nombre de usuario <span class="obl">*</span>:</label>
					          <input placeholder="" #user="ngModel" [(ngModel)]="usuario_nombre" name="usuario_nombre" type="text" class="validate">
					          <span *ngIf="!user.valid && user.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El nombre no es válido</span>
					        </div>
						</div>
						<div class="row">
							<div class="input-field col m6">
					          <input #passA="ngModel" [(ngModel)]="usuario_actual_pass" name="usuario_actual_pass" id="password" type="password" class="validate">
					          <label for="password">Contraseña actual<span class="obl">*</span>:</label>
					        </div>
						</div>
						<div class="row">
							 <div class="input-field col m6">
					          <input #pass="ngModel" [(ngModel)]="usuario_pass" name="usuario_pass"id="password" type="password" class="validate">
					          <label for="password">Nueva contraseña<span class="obl">*</span>:</label>
					          <span *ngIf="!pass.valid && pass.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>La contraseña no es válida</span>
					    	</div>
					    	<div class="col m4" *ngIf="usuario_pass != usuario_pass2">
					    		<h6 class="red-text">Las contraseñas no coinciden</h6>
					    	</div>
					    </div>
						<div class="row">
							<div class="input-field col m6">
					          <input #pass2="ngModel" [(ngModel)]="usuario_pass2" name="usuario_pass2" id="password" type="password" class="validate">
					          <label for="password">Repita la nueva contraseña<span class="obl">*</span>:</label>
					          <span *ngIf="!pass.valid && pass.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>La contraseña no es válida</span>
					        </div>
						</div>

					</form>
				<div class="row right">
					<div class="col m12"><a (click)="cancelar()" class="waves-effect waves-light btn red lighten-2"><i class="material-icons white-text left">close</i>Cancelar</a>
						<a class="waves-effect waves-light btn light-green " (click)="guardar()"><i class="material-icons left">cloud</i>Guardar</a>
					</div>
				</div>
				</div>
				<!-- <pre>
					{{usuario_nombre}}
					{{usuario_actual_pass}}
					{{usuario_pass}}
					{{usuario_pass2}}
				</pre> -->
				<div class="divider"></div><br>
				<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>
				<div class="row"></div>
			</div>
		</div>
	</div>

</main>

