<sidebar></sidebar>

<main>

	<div class="container">
		<nav class="transparent z-depth-0">
		<a [routerLink]="['/movimiento']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb ">Configuración</a>
		        <a [routerLink]="['/movimiento']" class="breadcrumb ">Listado de Movimientos</a>
		        <a class="breadcrumb ">Agregar Movimiento</a>
		      </div>
		    </div>
		  </nav>
		<br>
		<h4 class="light">Formulario para agregar <span class="teal-text semi-bold">Movimiento</span></h4>
		<br>

		<div class="card-panel">

		<form #formMovimiento="ngForm" id="form-movimiento" (ngSubmit)="onSubmit()">
			
		  <div class="row">
			
			  <div class="row">
				<div class=" col s6">
					<label for="first_name"> Nombre: <span class="obl">*</span></label>
				  <input type="text" class="validate" #nombre="ngModel" 
				  [(ngModel)]="movimiento.movimiento_nombre" name="nombre" required="true">

				  <p *ngIf="!nombre.valid && nombre.touched" class="red-text"> <i class="material-icons left ">error_outline</i>El nombre no es válido</p>
				  
				</div>

				<div class=" col s6">
					<label for="descipcion"> Descriipción: <span class="obl">*</span></label>
				  <input type="text" class="validate" #descripcion="ngModel" 
				  [(ngModel)]="movimiento.movimiento_descripcion" name="descripcion" required="true">

				  <p *ngIf="!descripcion.valid && descripcion.touched" class="red-text"> <i class="material-icons left ">error_outline</i>El nombre no es válido</p>
				  
				</div>

				<div class="col s6">
					<div input-field  name="tipoTransaccion" ngDefaultControl required="true"
					#transac="ngModel" [(ngModel)]="movimiento.tipo_transaccion_id">
					    <label>Tipo de transaccion:<span class="obl">*</span></label>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>{{tipoTransaccion.tipo_transaccion_nombre}}</option>	
					        <option *ngFor="let x of listaTipoTransaccion" value="{{x.tipo_transaccion_id}}">{{x.tipo_transaccion_nombre}}</option>
					    </select>
					</div>


					
				</div>


			
			  </div>

			


			
		  </div>
		  <div class="row right">
		  	<a class="waves-effect waves-light btn red " [routerLink]="['/movimiento']"><i class="material-icons white-text left">close</i>Cancelar</a>

		  	 <button class="btn waves-effect waves-light green" type="submite" name="action" [disabled]="!formMovimiento.form.valid"> <i class="material-icons left">send</i>Guardar
   			
 			</button>

		  </div>
		  <div class="row"></div>
		</form>
		
		</div>

		<div class="divider"></div><br>
				 <div class="row right">
		  			<div class=" col 12">
						<a  class="waves-effect waves-light white" [routerLink]="['/tipotransaccion-add']"><i class="material-icons left">keyboard_arrow_right</i>Tipo transación +</a>
					</div>
				 </div>

			<div class="row left">
		  	<div class=" col 12">
				<a  class="waves-effect waves-light white" [routerLink]="['/detalle-movimiento-add']"><i class="material-icons left">keyboard_arrow_left</i>Detalle movimiento +</a>
				 </div>
			</div>
			<div class="row"></div>
			
			<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>
	
	</div>


</main>
