<sidebar></sidebar>



<main>
	<div class="container">
		<nav class="transparent z-depth-0 right">
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb">Configuración</a>
		        <a class="breadcrumb">Listado de Movimientos</a>
		      </div>
		    </div>
		  </nav>
		
		<br>
		<h4 class="light">Listado de <span class="teal-text semi-bold">Movimientos</span></h4>
		<br>
		<a class="waves-effect waves-light btn teal" [routerLink]="['/movimiento-add']"><i class="material-icons white-text left">add</i>Agregar</a>

		<div  *ngIf=!listaMovimientos class="loader">
			<h4 class="teal-text center">Cargando Movimientos...</h4>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress teal">
				      <div class="indeterminate teal darken-3"></div>
				  </div>
		    	</div>
		    </div>
		</div> 


		<div class="card-panel" *ngIf = listaMovimientos>
		  <table>
			<thead>
			  <tr>
				  <th>ID</th>
				  <th>Nombre</th>
				  <th>Descripción</th>
				  <th>Tipo de transacción</th>
				  <th class="center">Opciones</th>
			  </tr>
			</thead>

			<tbody *ngFor= "let m of listaMovimientos">

			  <tr >
				<td>{{m.movimiento_id}}</td>
				<td>{{m.movimiento_nombre}}</td>
				<td>{{m.movimiento_descripcion}}</td>
				<td>{{m.tipoTransaccion.tipo_transaccion_nombre}}</td>
				<td class="center">

					<div class="tooltip">
					<a [routerLink]="['/movimiento-update', m.movimiento_id]" class="waves-effect waves-light btn blue lighten-2 myButton" data-position="bottom" data-tooltip="I am a tooltip"><i class="material-icons white-text center">create</i> </a>
					<span class="tooltiptext">Editar</span>
					</div>

					<div class="tooltip">
					<a (click)="onDelete(m.movimiento_id, m)" class="waves-effect waves-light btn red lighten-2 myButton"><i class="material-icons white-text center">delete</i></a>
					<span class="tooltiptext">Deshabilitar</span>
					</div>

				</td>
			  </tr>
			</tbody>
		  </table>

		</div>

		<div class="divider"></div><br>
				 <div class="row right">
		  			<div class=" col 12">
						<a  class="waves-effect waves-light white" [routerLink]="['/tipotransaccion-add']"><i class="material-icons left">keyboard_arrow_right</i>Tipo transación +</a>
					</div>
				 </div>

			<div class="row left">
		  	<div class=" col 12">
				<a  class="waves-effect waves-light white" [routerLink]="['/detalle-movimiento-add']"><i class="material-icons left">keyboard_arrow_left</i>Detalle movimiento +</a>
				 </div>
			</div>

	</div>
</main>


