
<nav>
	<div class="nav-wrapper teal">
	  <a href="#!" class="brand-logo">SIPEL</a>
	  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	  <ul class="right hide-on-med-and-down">
		<!-- <li><a href="sass.html">Sass</a></li> -->
		<li><a href="">PRECIOS</a></li>
		<li><a href="">VENTAJAS</a></li>
		<li><a href="">ACERCA DE</a></li>
	  </ul>
	  <ul class="side-nav" id="mobile-demo">
		<li><a href="sass.html"></a></li>
		<li><a href="">PRECIOS</a></li>
		<li><a href="">VENTAJAS</a></li>
		<li><a href="">ACERCA DE</a></li>
	  </ul>
	</div>
  </nav>

  <style>
  	/*nav {
            height: 80px;
        line-height: 30px;
    }*/
  </style>