<sidebar></sidebar>

<main>
	<div class="row">
		<div class="container">
		<nav class="transparent z-depth-0 right">
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb">Configuración</a>
		        <a class="breadcrumb">Estructura de la empresa</a>
		        <a class="breadcrumb">Agregar nivel</a>
		      </div>
		    </div>
		</nav>
	</div>
	</div>
	<div class="container">
		<div class="card-panel">
			<div class="row">
				<div class="container">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa reiciendis suscipit quidem maxime, placeat perspiciatis debitis, nemo pariatur, labore repudiandae ea porro. Aliquam veniam ducimus quidem quasi sequi sit quaerat.</p>
				</div>
			</div>
		</div>
	</div>
</main>