<sidebar></sidebar>

<main>

<div class="container">
	<div class="row">
		<nav class="transparent z-depth-0 right">
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb">Configuración</a>
		        <a class="breadcrumb">Estructura de la empresa</a>
		      </div>
		    </div>
		</nav>
	</div>
</div>

<!--Conociendo el número de subniveles  -->
<!-- <div class="container">
	<a class="waves-effect waves-light btn teal" [routerLink]="['/nivel-estructura-add']"><i class="material-icons white-text left">add</i>Agregar</a><br><br>
	<h4>Unidades Organizacionales</h4>
	<ul>
		<li *ngFor= "let UNIDADES of listaNiveles">
			>{{UNIDADES.tipoNivel.tipo_nivel_nombre}}:{{UNIDADES.nivel_estructura_nombre}}
			<ul>
				<li *ngFor= "let DEPTO of UNIDADES.nivelEstructura">
					-------{{DEPTO.tipoNivel.tipo_nivel_nombre}}: {{DEPTO.nivel_estructura_nombre}}
					<ul>
						<li *ngFor= "let SEC of DEPTO.nivelEstructura">
							----------------------{{SEC.tipoNivel.tipo_nivel_nombre}}: {{SEC.nivel_estructura_nombre}}
							<ul>
								<li *ngFor= "let AREA of SEC.nivelEstructura">
									---------------------------------Area de {{SEC.nivel_estructura_nombre}}: {{AREA.nivel_estructura_nombre}}
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div> -->

<!-- For dinámico? -->
<div class="section">
	<div class="container">
		<div class="card-panel">
			<h5 class="light">Agregar Departamento<a (click)="mostrar2()"><i class="material-icons green-text" >add_circle</i></a></h5>
			<div class="row" *ngIf=mostrar_para_depto>
				<div class="divider"></div>
				<div class="container">
					<form class="m12" #formNivel="ngForm" (ngSubmit)="agregarDepartamento()">
						<div class="row">
							<div class=" col m6">
					          <label for="first_name">Nombre del Departamento <span class="obl">*</span>:</label>
					          <input placeholder="" #niv="ngModel" [(ngModel)]="nombre_nivel" name="nivel" type="text" class="validate" required>
					          <span *ngIf="!niv.valid && niv.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El nombre no es válido</span>
					        </div>
						</div>
					<div class="row right">
						<div class="col m12"><a (click)="cancelar()" class="waves-effect waves-light btn red lighten-2"><i class="material-icons white-text left">close</i>Cancelar</a>
							<button class="btn waves-effect waves-light green  lighten-2" type="submit" name="action" [disabled]="!formNivel.form.valid"><i class="material-icons left">send</i>Guardar</button>
						</div>
					</div>
				</form>
				</div>
			</div>
		</div>
		<div class="card-panel">
			<ul *ngFor= "let x of listaNiveles">
				<li> &#9600; {{x.tipoNivel.tipo_nivel_nombre}}: {{x.nivel_estructura_nombre}}<a (click)="agregar(x)"><i class="material-icons green-text" >add_circle</i></a>
					<div *ngIf= "x.nivelEstructura.length != 0">
						<ul *ngFor="let y of x.nivelEstructura">
							<li style='margin-left: 2em'> &#9632; {{y.tipoNivel.tipo_nivel_nombre}}:  {{y.nivel_estructura_nombre}}<a (click)="agregar(y)"><i class="material-icons green-text" >add_circle</i></a>
							<div *ngIf= "y.nivelEstructura.length != 0">
								<ul *ngFor="let z of y.nivelEstructura">
									<li style='margin-left: 4em'> &#9633; {{z.tipoNivel.tipo_nivel_nombre}}: {{z.nivel_estructura_nombre}}</li>
								</ul>
							</div>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="container" *ngIf = mostrar>
	<div class="card-panel" >
		<div class="container">
			<h5 class="light">{{mensaje}}</h5>
			<div class="row">
				<form class="m12" #formNivel="ngForm" (ngSubmit)="guardarNivel()">
						<div class="row">
							<div class=" col m6">
					          <label for="first_name">Nombre de sub elemento <span class="obl">*</span>:</label>
					          <input placeholder="" #niv="ngModel" [(ngModel)]="nombre_nivel" name="nivel" type="text" class="validate" required>
					          <span *ngIf="!niv.valid && niv.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El nombre no es válido</span>
					        </div>
						</div>
					<div class="row right">
						<div class="col m12"><a (click)="cancelar()" class="waves-effect waves-light btn red lighten-2"><i class="material-icons white-text left">close</i>Cancelar</a>
							<button class="btn waves-effect waves-light green  lighten-2" type="submit" name="action" [disabled]="!formNivel.form.valid"><i class="material-icons left">send</i>Guardar</button>
						</div>
					</div>
				</form>
				</div>
		</div>
	</div>
</div>

</main>

<script>
	$(document).ready(function() { Materialize.updateTextFields(); });
</script>