<sidebar></sidebar>



<main>

	<div class="container">
	<nav class="transparent z-depth-0">
		<a [routerLink]="['/empleado']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a [routerLink]="['/empleado']" class="breadcrumb ">Listado empleados</a>
		        <a class="breadcrumb ">Planilla individual</a>
		      </div>
		    </div>
		  </nav>
		
		<br>
		<h4 class="light"> <span class="teal-text semi-bold">Planilla</span></h4>
		<br>

		<div  *ngIf=!planilla class="loader">
			<h4 class="teal-text center">Cargando...</h4>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress teal">
				      <div class="indeterminate teal darken-3"></div>
				  </div>
		    	</div>
		    </div>
		</div> 



		<div class="card-panel" *ngIf = "planilla && empresa">
	
		<div class="row">
			<div class="col s12 m12">
				<img src="{{empresa.empresa_logo}}" class="left" style="width: 10%;">
				<span class="right">Periodo: {{planilla.periodoPlanilla.periodo_planilla_fecha_inicio| date:"dd/MM/yyyy"}} - {{planilla.periodoPlanilla.periodo_planilla_fecha_fin| date:"dd/MM/yyyy"}}</span>
			</div>

			<div class="col s12 m12">
			<br>
			<h3 class="bold" *ngIf="empresa">{{empresa.empresa_nombre}}</h3>
			<div class="divider"></div>
			

			</div>


			<div class="col m6 s6">
							
				<p><span class="bold">Dirección:</span> {{empresa.empresa_direccion}}</p>
				<p><span class="bold">Website:</span> {{empresa.empresa_pagina_web}}</p>				
				
			</div>

			<div class="col m6 s6">
				
				<p><span class="bold">Representante:</span> {{empresa.empresa_representante}}</p>
				<p><span class="bold">Correo:</span> {{empresa.empresa_correo_representante}}</p>

			</div>

		</div>
		

		<div class="row">

			<div class="col s12 m12">
			<h4 class="light" *ngIf="planilla.empleado.persona">{{planilla.empleado.persona.persona_primer_nombre}} {{planilla.empleado.persona.persona_segundo_nombre}} {{planilla.empleado.persona.persona_primer_apellido}} {{planilla.empleado.persona.persona_segundo_apellido}}</h4>
			
			<div class="divider"></div>
			</div>

			<div class="col m6 s6">
			
				<p><span class="bold">Código:</span> {{planilla.empleado.empleado_codigo}}</p>
				<p><span class="bold">Departamento:</span> {{planilla.empleado.puesto.nivelEstructura.nivel_estructura_nombre}}</p>
				<p><span class="bold">Profesión:</span> {{planilla.empleado.persona.profesion.profesion_nombre}}</p>


				
			</div>


			<div class="col m6 s6">
			<p><span class="bold">Puesto:</span> {{planilla.empleado.puesto.puesto_nombre}}</p>
			<p><span class="bold">Descripción:</span> {{planilla.empleado.puesto.puesto_descripcion}}</p>
			</div>
			


		</div>

	

		<h4 class="light">Movimientos</h4>
		<div class="divider"></div><br>
		<a class="waves-effect waves-light btn teal" [routerLink]="['/detalle-movimiento-add']"><i class="material-icons white-text left">add</i>Agregar</a>


		<a *ngIf="planilla.empleado.puesto.puesto_tiene_comision" class="waves-effect waves-light btn teal" [routerLink]="['/venta-add']"><i class="material-icons white-text left">queue</i>Registrar venta</a>

		<div class="row">
			
			<div class="col s12 m6">


				<h5 class="bold">Ingresos</h5>
				  <table >
					<thead>
					  <tr>
						  <th>Concepto</th>
						  <th>Descripción</th>
						  <th>Monto</th>
						  <th class="center">Eliminar</th>
					  </tr>
					</thead>

					<tbody *ngFor= "let mov of planilla.detalleMovimiento">


					  <tr *ngIf="mov.movimiento.tipoTransaccion.tipo_transaccion_nombre=='Ingreso'">
					
						<td>{{mov.movimiento.movimiento_nombre}}</td>
						<td>{{mov.movimiento.movimiento_descripcion}}</td>
						<td>$ {{mov.detalle_movimiento_monto}}</td>

						<td class="center">
						<div class="tooltip">
						<a  (click)="onDelete(mov.detalle_movimiento_id, mov)" class="waves-effect waves-light btn red lighten-2 myButton" style="padding-left: 10px; padding-right: 10px"><i class="material-icons white-text center">delete</i></a>
						<span class="tooltiptext">Eliminar</span>
						</div>
						</td>


					  </tr>
					</tbody>
				  </table>
				  <div class="divider"></div>  
				  <span style="font-size: 20px" class="bold">Total</span>

				  <span class="light right" style="padding-right: 100px; font-size: 20px"> $ {{totalI|number: '.2'}}</span>


				  
				  <br><br>
				
			</div>

			<div class="col s12 m6">

						 <h5 class="bold">Egresos</h5>
				  <table>
					<thead>
					  <tr>
						  <th>Concepto</th>
						  <th>Descripción</th>
						  <th>Monto</th>
						  <th class="center">Eliminar</th>
					  </tr>
					</thead>

					<tbody *ngFor= "let mov of planilla.detalleMovimiento">


					  <tr *ngIf="mov.movimiento.tipoTransaccion.tipo_transaccion_nombre=='Descuento'">
						
						<td>{{mov.movimiento.movimiento_nombre}}</td>
						<td>{{mov.movimiento.movimiento_descripcion}}</td>
						<td>$ {{mov.detalle_movimiento_monto}}</td>
						<td class="center">
						<div class="tooltip">
						<a  (click)="onDelete(mov.detalle_movimiento_id, mov)" class="waves-effect waves-light btn red lighten-2 myButton" style="padding-left: 10px; padding-right: 10px"><i class="material-icons white-text center">delete</i></a>
						<span class="tooltiptext">Eliminar</span>
						</div>
						</td>

					
					  </tr>
					</tbody>
				  </table>
				   <div class="divider"></div>
				     <span style="font-size: 20px" class="bold">Total</span>

				  <span class="light right" style="padding-right:  100px; font-size: 20px"> $ {{totalD|number: '.2'}}</span>

				
			</div>

		</div>
		<div class="row">

			<div class="col s12 m12">

				<h5 class="bold">Otros</h5>
				  <table>
					<thead>
					  <tr>
						  <th>Concepto</th>
						  <th>Descripción</th>
						  <th class="center">Monto</th>
						  <th class="center">Signo</th>
						  <th class="center">Eliminar</th>
					  </tr>
					</thead>

					<tbody *ngFor= "let mov of planilla.detalleMovimiento">


					  <tr *ngIf="mov.movimiento.tipoTransaccion.tipo_transaccion_nombre!='Descuento'
					  && mov.movimiento.tipoTransaccion.tipo_transaccion_nombre!='Ingreso'">
						
						<td>{{mov.movimiento.movimiento_nombre}}</td>
						<td>{{mov.movimiento.movimiento_descripcion}}</td>
						<td class="center">$ {{mov.detalle_movimiento_monto}}</td>
						<td class="center">{{mov.movimiento.tipoTransaccion.tipo_transaccion_signo}}</td>
						<td class="center">
						<div class="tooltip">
						<a (click)="onDelete(mov.detalle_movimiento_id, mov)" class="waves-effect waves-light btn red lighten-2 myButton" style="padding-left: 10px; padding-right: 10px"><i class="material-icons white-text center">delete</i></a>
						<span class="tooltiptext">Eliminar</span>
						</div>
						</td>
					
					  </tr>
					</tbody>
				  </table>
				   <div class="divider"></div>
				  <span style="font-size: 20px" class="bold">Total</span>

				  <span class="light right" style="padding-right:  100px; font-size: 20px"> $ {{totalO|number: '.2'}}</span>

				
			</div>

			<div class="col s12 m6">
			
			</div>

			<!-- <div class="row"> -->
				<div class="col s12 m12">
					<br>
				
				<h4 class="light">Salario</h4>
				<div class="divider"></div>
				  <table>
					<thead>
					  <tr>
						  <th>Concepto</th>
						  <th>Monto</th>
					  </tr>
					</thead>

					<tbody>

					  <tr>
						<td>Salario Base</td>
						<td>$ {{planilla.empleado.salario.salario_monto_base|number: '.2'}}</td>
					  </tr>
					  <tr>
						<td>Ingresos</td>
						<td>$ {{totalI|number: '.2'}}</td>
					  </tr>
					   <tr>
						<td>Egresos</td>
						<td>$ -{{totalD|number: '.2'}}</td>
					  </tr>
					  <tr>
						<td>Otros movimientos</td>
						<td>$ {{totalO|number: '.2'}}</td>
					  </tr>

					  <tr *ngIf="planilla.empleado.puesto.puesto_tiene_comision">
						<td><p>Ingreso por comision</p><p>Venta de periodo: $ {{planilla.planilla_venta}}</p></td>
						<td>$ {{planilla.planilla_comision|number: '.2'}}</td>
					  </tr>

					  <tr>
						<td>Renta</td>
						<td>$ {{planilla.planilla_renta|number: '.2'}}</td>
					  </tr>

					<tr>
						<td><div class="divider"></div></td>
						<td><div class="divider"></div></td>
					</tr>
				   

				   <tr>
				 	<td style="font-size: 20px" class="bold">Total</td>

				  	<td class="light" style=" font-size: 20px"> $ {{totalP|number: '.2'}}</td>

				  </tr>
					</tbody>
				  </table>

				<!-- </div> -->

			</div>


		</div>



		 

		
		 

		</div>

	</div>
</main>