<sidebar></sidebar>
<main>
	<div class="container">
		 <nav class="transparent z-depth-0 right">
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb">SIPEL</a>
		        <a class="breadcrumb">Listado de Planes</a>
		      </div>
		    </div>
		  </nav>
		<br>
		<h4 class="light">Listado de <span class="teal-text semi-bold">Planes</span></h4><br>
		<a class="waves-effect waves-light btn teal" [routerLink]="['/plan-add']"><i class="material-icons white-text left">add</i>Agregar</a><br><br>
		<div *ngIf = !listaPlanes>
			<h4 class="teal-text center">Cargando planes...</h4>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress teal">
				      <div class="indeterminate teal darken-3"></div>
				  </div>
		    	</div>
		    </div>
		</div>

		<div class="card-panel">
			 <table class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
			 <thead>
			    <tr>
			       <th>ID</th>
				  <th>Plan</th>
				  <th>Descripción</th>
				  <th>Precio</th>
				  <th>Empleados</th>
				  <th class="center">Opciones</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor= "let x of listaPlanes">
			     <td>{{x.plan_id}}</td>
				<td>{{x.plan_nombre}}</td>
				<td>{{x.plan_descripcion}}</td>
				<td>${{x.plan_precio}}</td>
				<td>{{x.plan_max_empleados}}</td>
			      <td class="center">
					<div class="tooltip">
						<a [routerLink]="['/plan-edit', x.plan_id]" class="waves-effect waves-light btn blue lighten-2 myButton"><i class="material-icons white-text ">create</i></a>
			  			<span class="tooltiptext">Editar</span>
					</div>
					<!-- <div class="tooltip">
						<a (click)="deshabilitar(x)" class="waves-effect waves-light btn red lighten-2 myButton"><i class="material-icons white-text ">delete</i></a>
			  			<span class="tooltiptext">Deshabilitar</span>
					</div> -->
					
				</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</main>