<sidebar></sidebar>

<main>
	<div class="container">
		<nav class="transparent z-depth-0">
		<a [routerLink]="['/planes']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb ">SIPEL</a>
		        <a [routerLink]="['/planes']" class="breadcrumb ">Listado de Planes</a>
		        <a class="breadcrumb ">Agregar Plan</a>
		      </div>
		    </div>
		  </nav>
		<br>
		<h4 class="light">Formulario para agregar <span class="teal-text semi-bold">Plan</span></h4>
		<br>
		<div class="card-panel">
			
		  <div class="row">
			<form #formPlan="ngForm" (ngSubmit)="guardarPlan()">
			  <div class="row">
				<div class="input-field col m4 s6">
				  <input placeholder="" #pl="ngModel" [(ngModel)]="plan.plan_nombre" name="plan_nombre" type="text" class="validate" required>
				  <label  for="first_name" >Nombre <span class="obl">*</span>: </label>
				  <span *ngIf="!pl.valid && pl.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El nombre no es válido</span>
				</div>
				<div class="input-field col s6 m8">
				  <input placeholder="" #desc="ngModel" [(ngModel)]="plan.plan_descripcion" name="plan_descripcion"type="text" class="validate" required >
				  <label for="last_name">Descripción<span class="obl">*</span> :</label>
				  <span *ngIf="!desc.valid && desc.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>La descripción no es válida</span>
				</div>
				<div class="input-field col s6 m8">
				  <input placeholder="" #pre="ngModel" [(ngModel)]="plan.plan_precio" name="plan_precio"type="text" class="validate" required >
				  <label for="last_name">Precio del plan<span class="obl">*</span> :</label>
				  <span *ngIf="!pre.valid && pre.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El precio no es válido</span>
				</div>
				<div class="input-field col s6 m8">
				  <input placeholder="" #emp="ngModel" [(ngModel)]="plan.plan_max_empleados" name="plan_max_empleados"type="text" class="validate" required >
				  <label for="last_name">Número máximo de empleados<span class="obl">*</span> :</label>
				  <span *ngIf="!emp.valid && emp.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El número máximo de empleados no es válido</span>
				</div>
			  </div>
		  <div class="row right">
		  	<a [routerLink]="['/planes']" class="waves-effect waves-light btn red lighten-2"><i class="material-icons white-text left">close</i>Cancelar</a>
		  	<button class="btn waves-effect waves-light green  lighten-2" type="submit" name="action" [disabled]="!formPlan.form.valid"><i class="material-icons left">send</i>Guardar</button>
		  </div>
		  <div class="row"></div>
			</form>
		  </div>
		</div>
		<br>
		<div class="divider"></div><br>
		<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>
	</div>
</main>