<sidebar></sidebar>




<main>




	<div class="container">
		<nav class="transparent z-depth-0 right">
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb">Configuración</a>
		        <a class="breadcrumb">Listado de Profesiones</a>
		      </div>
		    </div>
		  </nav>
		
		<br>
		<h4 class="light">Listado de <span class="teal-text semi-bold">Profesiones</span></h4>
		<br>
		<a class="waves-effect waves-light btn teal" [routerLink]="['/profesion-add']"><i class="material-icons white-text left">add</i>Agregar</a>

		<div  *ngIf="!listaProfesiones" class="loader">
			<h4 class="teal-text center">Cargando profesiones...</h4>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress teal">
				      <div class="indeterminate teal darken-3"></div>
				  </div>
		    	</div>
		    </div>
		</div> 


		<div class="card-panel" *ngIf = listaProfesiones>
		  <table id="profesiones" class="display">
			<thead>
			  <tr>
				  <th>ID</th>
				  <th>Profesión</th>
				  <th>Descripción</th>
				  <th class="center">Opciones</th>
			  </tr>
			</thead>

			<tbody *ngFor= "let p of listaProfesiones">

			  <tr *ngIf="p.profesion_estado==true">
				<td>{{p.profesion_id}}</td>
				<td>{{p.profesion_nombre}}</td>
				<td>{{p.profesion_descripcion}}</td>
				<td class="center">

					<div class="tooltip">
					<a class="waves-effect waves-light btn blue lighten-2 myButton" [routerLink]="['/profesion-update', p.profesion_id]"><i class="material-icons center white-text">edit</i></a>
					<span class="tooltiptext">Editar</span>
					</div>
					
					<div class="tooltip">
					<a (click)="onDelete(p.profesion_id, p)" class="waves-effect waves-light btn red lighten-2 myButton"><i class="material-icons white-text center">delete</i></a>
					<span class="tooltiptext">Deshabilitar</span>
					</div>

				</td>
			  </tr>
			</tbody>
		  </table>

		  <script type="text/javascript">

			$(document).ready( function () {
    		$('profesiones').DataTable();
			} );
			</script>

		</div>

	</div>


          
</main>

