<sidebar></sidebar>
<main>

	<div class="container">
		<nav class="transparent z-depth-0">
		<a [routerLink]="['/profesion']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb ">Configuración</a>
		        <a [routerLink]="['/profesion']" class="breadcrumb ">Listado de Profesiones</a>
		        <a class="breadcrumb ">Editar Profesión</a>
		      </div>
		    </div>
		  </nav>


		<br>
		<h4 class="light">Editar <span class="teal-text semi-bold"> Profesión </span></h4>
		<br>

		<div class="card-panel">

		<form #formProfesion="ngForm" id="form-profesion" (ngSubmit)="onSubmit()">
			
		  <div class="row">
			
			  <div class="row">
				<div class=" col s6">
					<label for="first_name">Nombre: <span class="obl">*</span></label>
				  <input type="text" class="validate" #nombre="ngModel" 
				  [(ngModel)]="p.profesion_nombre" name="nombre" required="true">

				  <p *ngIf="!nombre.valid && nombre.touched" class="red-text "> <i class="material-icons left ">error_outline</i>El nombre no es válido</p>
				  
				</div>


				<div class=" col s6">
				<label>Descripción: <span class="obl">*</span></label>

				  <input type="text" class="validate" data-length="200" name="descripcion"
				  #descripcion="ngModel" [(ngModel)]="p.profesion_descripcion" required="true" 
				  >

				  <p *ngIf="!descripcion.valid && descripcion.touched" class="red-text "> <i class="material-icons left">error_outline</i>La descripción no es válida</p>
				  
				</div>
			  </div>
			
		  </div>
		  <div class="row right">
		  	<a class="waves-effect waves-light btn red " [routerLink]="['/profesion']"><i class="material-icons white-text left">close</i>Cancelar</a>

		  	 <button class="btn waves-effect waves-light green" type="submite" name="action" [disabled]="!formProfesion.form.valid"><i class="material-icons left">send</i>Guardar
   			 
 			</button>

		  </div>
		  <div class="row"></div>
		</form>
		
		</div>

		<div class="divider"></div><br>
		<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>
	</div>
</main>
