<sidebar></sidebar>
<main>

	<div class="container">
		<nav class="transparent z-depth-0">
		<a [routerLink]="['/puesto']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
		<div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb ">Configuración</a>
		        <a [routerLink]="['/puesto']" class="breadcrumb ">Listado de Puestos</a>
		        <a class="breadcrumb ">Editar Puesto</a>
		      </div>
		    </div>
		  </nav>



		<br>
		<h4 class="light">Editar <span class="teal-text semi-bold">Puesto</span></h4>
		<br>

		<div class="card-panel">

		<form #formPuesto="ngForm" id="form-puesto" (ngSubmit)="onSubmit()"  *ngIf="p">
			
		  <div class="row">
		  
			  <div class="row">
				<div class=" col s6 m6">
					<label for="first_name">Nombre: <span class="obl">*</span></label>
				  <input type="text" class="validate" data-length="50"  #nombre="ngModel" 
				  [(ngModel)]="p.puesto_nombre" name="nombre" required="true">

				  <p *ngIf="!nombre.valid && nombre.touched" class="red-text"> <i class="material-icons left ">error_outline</i>El nombre no es válido</p>
				  
				</div>
 
				<div class=" col s6 m6">
				<label>Descripción:</label><span class="obl">*</span>

				  <input type="text" class="validate" data-length="200" name="descripcion"
				  #descripcion="ngModel" [(ngModel)]="p.puesto_descripcion" required="true" 
				  >

				  <p *ngIf="!descripcion.valid && descripcion.touched" class="red-text"> <i class="material-icons left">error_outline</i>La descripción no es válida</p>
				  
				</div>


				
				<div class="col s6 m6">
					<div input-field  name="nivelEstructura" ngDefaultControl required="true"
					#nivelEstructura="ngModel" [(ngModel)]="p.nivel_estructura_id">
					    <label>Nivel en la Estructura Organizativa:<span class="obl">*</span></label>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>{{p.nivelEstructura.nivel_estructura_nombre}}</option>	
					        <option *ngFor="let x of listnivelEstructura" value="{{x.nivel_estructura_id}}">{{x.nivel_estructura_nombre}}</option>
					    </select>
					</div>
				</div>
			

				<div class="col s6 m64">
					<h6 class="light">¿El puesto tiene Comision?:</h6>
					<p *ngIf=p.puesto_tiene_comision>
						
				      <input  class="filled-in" id="comision"  type="checkbox"   checked="checked"
				      (change)="onCheckboxChange(p.puesto_tiene_comision,$event)" required [checked]="" />
	 			      <label for="comision">SI</label>
	 			     
				    </p>
				    <p *ngIf=!p.puesto_tiene_comision>
						
				      <input  class="filled-in" id="comision"  type="checkbox"  
				      (change)="onCheckboxChange(p.puesto_tiene_comision,$event)" required [checked]="" />
	 			      <label for="comision">SI</label>
	 			     
				    </p>
				</div>

					 <!-- <input type="checkbox"  class="filled-in" #comi="ngModel" [(ngModel)]="p.puesto_tiene_comision" name="comi">-->
	<!-- <label for="comi">SI</label>  *ngIf="p.puesto_tiene_comision==true" checked="checked"-->

			  </div>
		  
<!-- ///////////////////////////////////////////////////////////////////////////////////////-->			
		  </div>
		  <div class="row right">
		  	<a class="waves-effect waves-light btn red " [routerLink]="['/puesto']"><i class="material-icons white-text left">close</i>Cancelar</a>

		  	 <button class="btn waves-effect waves-light green" type="submite" name="action" [disabled]="!formPuesto.form.valid">
   			 <i class="material-icons white-text left">send</i>Guardar
 			</button>

		  </div>
		  <div class="row"></div>
		</form>
		
		</div>
		<div class="divider"></div><br>
		<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>
	</div>
</main>