<sidebar></sidebar>
<main>
	<div class="container">
		<nav class="transparent z-depth-0 right">
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb">Configuración</a>
		        <a class="breadcrumb">Listado de Puestos</a>
		      </div>
		    </div>
		</nav>

		<br>
		<h4 class="light">Listado de <span class="teal-text semi-bold">Puestos</span></h4>
		<br>
		<a class="waves-effect waves-light btn teal" [routerLink]="['/puesto-add']"><i class="material-icons white-text left">add</i>Agregar</a>
		
		
		<div *ngIf = "!listaPuestos" class="loader">
			<h4 class="teal-text center">Cargando Listado de Puestos...</h4>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress teal">
				      <div class="indeterminate teal darken-3"></div>
				  </div>
		    	</div>
		    </div>
		</div>
		

		<div class="card-panel" >
		  <table *ngIf = "listaPuestos">
			<thead>
			  <tr >
				  <th>ID</th>
				  <th >Nombre de Nivel <br/>
				  <th>Puesto</th>
				  <th>Descripción</th>
				  <th>¿Tiene Comision?</th>
				  <th class="center">Opciones</th>
			  </tr>
			</thead>

			<tbody *ngFor= "let p of listaPuestos">

			  <tr >
				<td>{{p.puesto_id}}</td>
		   		<td>{{p.nivelEstructura.nivel_estructura_nombre}}</td> 
				
				<td>{{p.puesto_nombre}}</td>
				<td>{{p.puesto_descripcion}}</td>
				<td>{{p.puesto_tiene_comision}}</td>
				<td class="center">


					<div class="tooltip">
					<a style="padding-left: 10px; padding-right: 10px" [routerLink]="['/puesto-update', p.puesto_id]" class="waves-effect waves-light btn blue lighten-2 myButton" data-position="bottom" ><i class="material-icons center white-text">create</i></a>
					<span class="tooltiptext">Editar</span>
					</div>
					

					<div class="tooltip">
					<a style="padding-left: 10px; padding-right: 10px" (click)="onDelete(p.puesto_id, p)" class="waves-effect waves-light btn red lighten-2 myButton"><i class="material-icons white-text center">delete</i></a>
					<span class="tooltiptext">Deshabilitar</span>
					</div>

				</td>
			  </tr>

		    </tbody>
		  </table>
		</div>

		
	</div>
</main>