<sidebar></sidebar>
<main>
	<div class="container">
		 <nav class="transparent z-depth-0 right">
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb">Configuración</a>
		        <a class="breadcrumb">Listado de Renta</a>
		      </div>
		    </div>
		  </nav>
		<br>
		<h4 class="light">Listado de <span class="teal-text semi-bold">Renta</span></h4><br>
		<a class="waves-effect waves-light btn teal" [routerLink]="['/renta-add']"><i class="material-icons white-text left">add</i>Agregar</a><br><br>
		<div *ngIf = !listaRenta>
			<h4 class="teal-text center">Cargando renta...</h4>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress teal">
				      <div class="indeterminate teal darken-3"></div>
				  </div>
		    	</div>
		    </div>
		</div>
<!-- 		<div class="card-panel" *ngIf = listaRenta>
		  <table>
			<thead>
			  <tr >
				  <th>ID</th>
				  <th>Nombre</th>
				  <th>Descripción</th>
				  <th>Mínimo</th>
				  <th>Máximo</th>
				  <th>Porcentaje</th>
				  <th>Período</th>
				  <th class="center">Opciones</th>
			  </tr>
			</thead>

			<tbody *ngFor= "let x of listaRenta">
			  <tr>
				<td>{{x.renta_id}}</td>
				<td>{{x.renta_nombre}}</td>
				<td>{{x.renta_descripcion}}</td>
				<td>${{x.renta_minimo}}</td>
				<td *ngIf= "x.renta_maximo != null">${{x.renta_maximo}}</td>
				<td *ngIf= "x.renta_maximo == null">En Adelante</td>
				<td>{{x.renta_porcentaje}}</td>
				<td>{{x.periodo.periodo_nombre}}</td>
				<td class="center">
					<div class="tooltip">
						<a [routerLink]="['/renta-edit', x.renta_id]" class="waves-effect waves-light btn blue lighten-2 myButton"><i class="material-icons white-text ">create</i></a>
			  			<span class="tooltiptext">Editar</span>
					</div>
					<div class="tooltip">
						<a (click)="deshabilitar(x)" class="waves-effect waves-light btn red lighten-2 myButton"><i class="material-icons white-text ">delete</i></a>
			  			<span class="tooltiptext">Deshabilitar</span>
					</div>
					
				</td>
			  </tr>
			</tbody>
		  </table>
		</div> -->

		<div class="card-panel">
			 <table class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
			 <thead>
			    <tr>
			      <th>ID</th>
				  <th>Nombre</th>
				  <th>Descripción</th>
				  <th>Mínimo</th>
				  <th>Máximo</th>
				  <th>Porcentaje</th>
				  <th>Período</th>
				  <th class="center">Opciones</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor= "let x of listaRenta">
			      <td>{{x.renta_id}}</td>
			      <td>{{x.renta_nombre}}</td>
			      <td>{{x.renta_descripcion}}</td>
			      <td>${{x.renta_minimo}}</td>
		      	  <div *ngIf='x.renta_maximo == null'>
		      	  	<!-- <td >${{x.renta_maximo}}</td> -->
		      	  	<td >En Adelante</td>
		      	  </div>
		      	  <div *ngIf='x.renta_maximo != null'>
		      	  	<td >${{x.renta_maximo}}</td>
		      	  	<!-- <td >En Adelante</td> -->
		      	  </div>
			      <td>{{x.renta_porcentaje}}</td>
			      <td>{{x.periodo.periodo_nombre}}</td>
			      <td class="center">
					<div class="tooltip">
						<a [routerLink]="['/renta-edit', x.renta_id]" class="waves-effect waves-light btn blue lighten-2 myButton"><i class="material-icons white-text ">create</i></a>
			  			<span class="tooltiptext">Editar</span>
					</div>
					<!-- <div class="tooltip">
						<a (click)="deshabilitar(x)" class="waves-effect waves-light btn red lighten-2 myButton"><i class="material-icons white-text ">delete</i></a>
			  			<span class="tooltiptext">Deshabilitar</span>
					</div>
					 -->
				</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</main>
