<sidebar></sidebar>

<main>
	<div class="container">
		<nav class="transparent z-depth-0">
		<a [routerLink]="['/renta']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb ">Configuración</a>
		        <a [routerLink]="['/renta']" class="breadcrumb ">Listado de Renta</a>
		        <a class="breadcrumb ">Agregar Renta</a>
		      </div>
		    </div>
		  </nav>
		<br>
		<h4 class="light">Formulario para agregar <span class="teal-text semi-bold">Renta</span></h4>
		<br>
		<div class="card-panel">
			
		  <div class="row">
			<form #formRenta="ngForm" (ngSubmit)="guardarRenta()">
			  <div class="row">
				<div class="input-field col m4 s6">
				  <input placeholder="" #ren="ngModel" [(ngModel)]="renta.renta_nombre" name="renta_nombre" type="text" class="validate" required>
				  <label  for="first_name" >Nombre <span class="obl">*</span>: </label>
				  <span *ngIf="!ren.valid && ren.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El nombre no es válido</span>
				</div>
				<div class="input-field col s6 m8">
				  <input placeholder="" #desc="ngModel" [(ngModel)]="renta.renta_descripcion" name="renta_descripcion"type="text" class="validate" required >
				  <label for="last_name">Descripción<span class="obl">*</span> :</label>
				  <span *ngIf="!desc.valid && desc.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>La descripción no es válida</span>
				</div>
				<div class="input-field col s6 m4">
				  <input placeholder="" #min="ngModel" [(ngModel)]="renta.renta_minimo" name="renta_minimo"type="text" class="validate" required >
				  <label for="last_name">Valor Mínimo:<span class="obl">*</span> :</label>
				  <span *ngIf="!min.valid && min.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>valor mínimo no es válido</span>
				</div>
				<div class="input-field col s6 m4">
				  <input placeholder="" #max="ngModel" [(ngModel)]="renta.renta_maximo" name="renta_maximo"type="text" class="validate">
				  <label for="last_name">Valor Máximo:<span class="obl">*</span> :</label>
				  <span *ngIf="!max.valid && max.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El valor máximo no es válido</span>
				</div>
				<div class="input-field col s6 m4">
				  <input placeholder="0.0" #por="ngModel" [(ngModel)]="renta.renta_porcentaje" name="renta_porcentaje"type="text" class="validate" required>
				  <label for="last_name">Porcentaje:<span class="obl">*</span> :</label>
				  <span *ngIf="!por.valid && por.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El porcentaje no es válido</span>
				</div>
				<div class=" col m3 s12">
				  	<div #per="ngModel" [(ngModel)]="renta.periodo_id" name="renta.periodo_id" ngDefaultControl>
					  <label>Período:</label>
						  <select material-select watch class="browser-default">
						    <!-- <option value="" disabled selected>Escoja período</option> -->
						    <option value="" disabled selected>Seleccione Período:</option>
						    <option *ngFor="let x of listaPeriodos" value={{x.periodo_id}}>{{x.periodo_nombre}}</option>
						  </select>
					</div>
				</div>
			  </div>
		  <div class="row right">
		  	<a [routerLink]="['/renta']" class="waves-effect waves-light btn red lighten-2"><i class="material-icons white-text left">close</i>Cancelar</a>
		  	<button class="btn waves-effect waves-light green  lighten-2" type="submit" name="action" [disabled]="!formRenta.form.valid"><i class="material-icons left">send</i>Guardar</button>
		  </div>
		  <div class="row"></div>
			</form>
		  </div>
		</div>
		<br>
		<div class="divider"></div><br>
		<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>
	</div>
</main>