<sidebar></sidebar>

<main>
	<div class="container">
		<nav class="transparent z-depth-0">
		<a [routerLink]="['/roles']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb ">Configuración</a>
		        <a [routerLink]="['/roles']" class="breadcrumb ">Listado de Roles</a>
		        <a class="breadcrumb ">Agregar Rol</a>
		      </div>
		    </div>
		  </nav>

		<h4 class="light">Formulario para agregar <span class="teal-text semi-bold">Rol</span></h4>
		<br>

		  <div class="card-panel">
		  	<div class="container">
		  		<div class="row">
			<form #formRol="ngForm" (ngSubmit)="guardarRol()">
			  <div class="row">
			  	<div class="input-field col m4 s6">
				  <input placeholder="" #r="ngModel" [(ngModel)]="rol.rol_nombre" name="rol_nombre" type="text" class="validate" required>
				  <label  for="first_name" >Nombre <span class="obl">*</span>: </label>
				  <span *ngIf="!r.valid && r.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El nombre no es válido</span>
				</div>
				<div class="input-field col s6 m8">
				  <input placeholder="" #desc="ngModel" [(ngModel)]="rol.rol_descripcion" name="rol_descripcion"type="text" class="validate" required >
				  <label for="last_name">Descripción<span class="obl">*</span> :</label>
				  <span *ngIf="!desc.valid && desc.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>La descripción no es válida</span>
				</div>
				<br>
				<div class="col s6 m8 push-m4">
					<h6 class="light">Opciones disponibles para asignar al rol:</h6>
					<p *ngFor ="let x of listaMenus">
				      <input type="checkbox" class="filled-in" id="filled-in-box" id="{{x.menu_id}}" (change)="onCheckboxChange(x.menu_id,$event)" required="" />
	 			      <label for="{{x.menu_id}}">{{x.menu_nombre}}</label>
				    </p>
				</div>
			  </div>
		  <div class="row right">
		  	<a [routerLink]="['/roles']" class="waves-effect waves-light btn red lighten-2"><i class="material-icons white-text left">close</i>Cancelar</a>
		  	<button class="btn waves-effect waves-light green  lighten-2" type="submit" name="action" [disabled]="!formRol.form.valid"><i class="material-icons left">send</i>Guardar</button>
		  </div>
		  <div class="row"></div>
			</form>
		  </div>
		  	</div>
		  </div>
		  <br>
		<div class="divider"></div><br>
		<h6>Seleccione las opciones que desea asignarle al rol.</h6>
		<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>

		<pre>
			{{rol.rol_nombre}}
			{{rol.rol_descripcion}}
		</pre>
	</div>
</main>
