<sidebar></sidebar>
<main>
	<div class="container">
		 <nav class="transparent z-depth-0 right">
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb">Configuración</a>
		        <a class="breadcrumb">Listado de Roles</a>
		      </div>
		    </div>
		  </nav>
		<br>
		<h4 class="light">Listado de <span class="teal-text semi-bold">Roles</span></h4><br>
		<a class="waves-effect waves-light btn teal" [routerLink]="['/rol-add']"><i class="material-icons white-text left">add</i>Agregar</a><br><br>
		<div *ngIf = !listaRoles>
			<h4 class="teal-text center">Cargando roles...</h4>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress teal">
				      <div class="indeterminate teal darken-3"></div>
				  </div>
		    	</div>
		    </div>
		</div>
		<div class="card-panel" *ngIf = listaRoles>
		  <table>
			<thead>
			  <tr >
				  <th>ID</th>
				  <th>Rol</th>
				  <th>Descripción</th>
				  <th>Estado</th>
				  <th class="center">Opciones</th>
			  </tr>
			</thead>

			<tbody *ngFor= "let x of listaRoles">
			  <tr>
				<td>{{x.rol_id}}</td>
				<td>{{x.rol_nombre}}</td>
				<td>{{x.rol_descripcion}}</td>
				<td>{{x.rol_estado}}</td>
				<td class="center">
					<div class="tooltip">
						<a [routerLink]="['/rol-edit', x.rol_id]" class="waves-effect waves-light btn blue lighten-2 myButton"><i class="material-icons white-text ">create</i></a>
			  			<span class="tooltiptext">Editar</span>
					</div>
					<div class="tooltip">
						<a (click)="deshabilitar(x)" class="waves-effect waves-light btn red lighten-2 myButton"><i class="material-icons white-text ">delete</i></a>
			  			<span class="tooltiptext">Deshabilitar</span>
					</div>
					
				</td>
			  </tr>
			</tbody>
		  </table>
		</div>
	</div>
</main>
