<main>
  <nav class="hidden-large blue-grey darken-4 ">
  <div class="nav-wrapper">
  <a class="brand-logo center">SIPEL</a>
  <a  data-activates="slide-out" class="button-collapse show-on-large" href="#"><i class="material-icons">menu</i></a>
  </div>
  </nav>
</main>



<!-- <ul id="slide-out" class="side-nav fixed  blue-grey darken-4 ">
  <br>  
  <img src="assets/images/sipel.png" width="100%">
  <br>  
  <div class="divider"></div>
  <li><a><i class="material-icons left white-text">face</i>{{usuario}}</a></li>
  <div class="divider"></div>
  <li><a [routerLink]="['/home']" style="padding-left: 5px; padding-right: 20px"><i class="material-icons left white-text" style="padding-left: 0px; padding-right: -10px !important">home</i>Inicio</a></li>
 <li><a [routerLink]="['/mi-empresa']"><i class="material-icons left white-text ">business</i>Mi empresa</a></li>   <li><a [routerLink]="['/empresa']"><i class="material-icons left white-text ">business</i>Empresas</a></li>
  <li><a ><i class="material-icons left white-text">person</i>Empleados</a></li>
  <li><a [routerLink]="['/planes']"><i class="material-icons left white-text">assignment</i>Planes</a></li>
   <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header" style="padding-left: 13px">Configuración<i class="material-icons white-text pad" style="padding-right: 15px">settings</i><i class="material-icons right white-text .hide-on-med-and-down" style="padding-left: 0px; padding-right: 0px">keyboard_arrow_down</i></a>
            <div class="collapsible-body blue-grey darken-4">
              <ul>
                <li><a [routerLink]="['/categoriaSalario']">Categoria de Salarios</a></li>
                <li><a [routerLink]="['/genero']">Géneros</a></li>
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> 4731e640949a618e05ead11949f11ef6f6348a84
                <li><a [routerLink]="['/tipo-correo']">Tipos Correos</a></li>
                <li><a [routerLink]="['/tipo-telefono']">Tipos Teléfonos</a></li>
                <li><a [routerLink]="['/tipotransaccion']">Tipos Transacción</a></li>
                <li><a [routerLink]="['/tipo-contrato']">Tipos Contratos</a></li>
                <li><a [routerLink]="['/nivel-estructura']">Nivel Estructura</a></li>
<<<<<<< HEAD
=======
>>>>>>> origin/DesarrolloDaniel
>>>>>>> 4731e640949a618e05ead11949f11ef6f6348a84
                <li><a [routerLink]="['/puesto']">Puestos</a></li>
                <li><a href="#!">Tipos Documentos</a></li>
                <li><a [routerLink]="['/estado-civil']">Estado Civil</a></li>
                <li><a [routerLink]="['/profesion']">Profesiones</a></li>
                <li><a [routerLink]="['/movimiento']">Movimientos</a></li>
                <li><a href="#!">Tasa</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
  <li><a (click)="logOut()"><i class="material-icons left white-text">close</i>Salir</a></li>
</ul> -->

<ul id="slide-out" class="side-nav fixed  blue-grey darken-4 ">
  <br>  
  <div class="center">
    <img src="assets/images/sipel.png" width="70%">
  </div>
  <br>  
  <div class="divider"></div>
  <li><a [routerLink]="['/mi-usuario']"><i class="material-icons left white-text">face</i>{{usuario.usuario_nombre}}</a></li>
  <div class="divider"></div>
  <li><a [routerLink]="['/home']" style="padding-left: 5px; padding-right: 20px"><i class="material-icons left white-text" style="padding-left: 0px; padding-right: -10px !important">home</i>Inicio</a></li>
  
  <div *ngFor="let x of opcionesMenu">
      <li *ngIf= "x.menu_configuracion ==false"><a [routerLink]="[x.menu_url]"><i class="material-icons left white-text ">{{x.menu_icono}}</i>{{x.menu_nombre}}</a></li>
  </div>
  
  <!-- <div *ngIf= menu_config> -->
  <li class="no-padding" >
        <!-- <ul class="collapsible collapsible-accordion" *ngIf= menu_config> -->
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header" style="padding-left: 13px">Configuración<i class="material-icons white-text pad" style="padding-right: 15px">settings</i><i class="material-icons right white-text .hide-on-med-and-down" style="padding-left: 0px; padding-right: 0px">keyboard_arrow_down</i></a>
            <div class="collapsible-body blue-grey darken-4">
              <ul *ngFor="let x of opcionesMenu">
                <li *ngIf= "x.menu_configuracion ==true"><a [routerLink]="[x.menu_url]"><i class="material-icons left white-text ">{{x.menu_icono}}</i>{{x.menu_nombre}}</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
  <!-- </div> -->
    <li><a (click)="logOut()"><i class="material-icons left white-text">close</i>Salir</a></li>
  </ul>



<style>
/*Para elemento de la lista activado */
  .side-nav li.active {
    background-color: #009688 !important;
    /*border-left: 4px solid green !important; */
  }

  /*Para color de fuente */
  .side-nav li > a {
    color: #B0D6D4;
    font-weight: 400;
  }

/*Cuando pasamos el cursor */
  .side-nav li > a:hover {
    background-color: #009688 !important;
  }
  
  .side-nav li > a  {
    padding-left: 15px !important;
  }

@media only screen and (min-width : 992px) {
  .hidden-large{
    display : none !important;
  }

  @media only screen and (max-width : 992px) {
  .visible-large{
    visibility: inline;
  }
</style>