<sidebar></sidebar>
<main>
	<div class="container">
		<nav class="transparent z-depth-0 right">
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb">Configuración</a>
		        <a class="breadcrumb">Tipos de correos</a>
		      </div>
		    </div>
		  </nav>

		  <br>
		  <h4 class="light">Listado de <span class="teal-text semi-bold">Tipos de correo</span></h4><br>
		  <a class="waves-effect waves-light btn teal" [routerLink]="['/tipo-correo-add']"><i class="material-icons white-text left">add</i>Agregar</a><br><br>

		  <div *ngIf = !listaCorreos>
			<h4 class="teal-text center">Cargando tipos de correos...</h4>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress teal">
				      <div class="indeterminate teal darken-3"></div>
				  </div>
		    	</div>
		    </div>
		</div>


		<div class="card-panel">
			 <table class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
			 <thead>
			    <tr>
			       <th>ID</th>
				  <th>Tipo Correo</th>
				  <th>Descripción</th>
				  <th class="center">Opciones</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor= "let x of listaCorreos">
			     	<td>{{x.tipo_correo_id}}</td>
					<td>{{x.tipo_correo_nombre}}</td>
					<td>{{x.tipo_correo_descripcion}}</td>
					<td class="center">
					<div class="tooltip">
						<a [routerLink]="['/tipo-correo-edit', x.tipo_correo_id]" class="waves-effect waves-light btn blue lighten-2 myButton"><i class="material-icons white-text ">create</i></a>
			  			<span class="tooltiptext">Editar</span>
					</div>
					<!-- <div class="tooltip">
						<a (click)="deshabilitar(x)" class="waves-effect waves-light btn red lighten-2 myButton"><i class="material-icons white-text ">delete</i></a>
			  			<span class="tooltiptext">Deshabilitar</span>
					</div> -->
					</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</main>