<sidebar></sidebar>



<main>
	<div class="container">
		<nav class="transparent z-depth-0 right">
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb">Configuración</a>
		        <a class="breadcrumb">Listado de Tipo Transacción</a>
		      </div>
		    </div>
		  </nav>
		
		<br>
		<h4 class="light">Listado de <span class="teal-text semi-bold">Tipos de transacciones</span></h4>
		<br>
		<a class="waves-effect waves-light btn teal" [routerLink]="['/tipotransaccion-add']"><i class="material-icons white-text left">add</i>Agregar</a>

		<div  *ngIf=!listtiposTransacciones class="loader">
			<h4 class="teal-text center">Cargando Tipos de transacciones...</h4>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress teal">
				      <div class="indeterminate teal darken-3"></div>
				  </div>
		    	</div>
		    </div>
		</div> 


		<div class="card-panel" *ngIf = listtiposTransacciones>
		  <table>
			<thead>
			  <tr>
				  <th>ID</th>
				  <th>Nombre</th>
				  <th>Descripción</th>
				  <th>Signo</th>

				  <th class="center">Opciones</th>
			  </tr>
			</thead>

			<tbody *ngFor= "let a of listtiposTransacciones">

			  <tr >
				<td>{{a.tipo_transaccion_id}}</td>
				<td>{{a.tipo_transaccion_nombre}}</td>
				<td>{{a.tipo_transaccion_descripcion}}</td>
				<td>{{a.tipo_transaccion_signo}}</td>

				<td class="center" *ngIf="a.tipo_transaccion_obligatorio == false">

					<div class="tooltip">
					<a class="waves-effect waves-light btn blue lighten-2 myButton" [routerLink]="['/tipotransaccion-update', a.tipo_transaccion_id]"><i class="material-icons center white-text" >edit</i></a>
					<span class="tooltiptext">Editar</span>
					</div>

					<div class="tooltip">
					<a (click)="onDelete(a.tipo_transaccion_id, a)" class="waves-effect waves-light btn red lighten-2 myButton"><i class="material-icons white-text center">delete</i></a>
					<span class="tooltiptext">Deshabilitar</span>
					</div>
					

				</td>

				
			  </tr>
			</tbody>
		  </table>

		</div>

		<div class="divider"></div><br>
		<div class="row left">
		  	<div class=" col s12">
				<a  class="waves-effect waves-light white" [routerLink]="['/movimiento-add']"><i class="material-icons left">keyboard_arrow_left</i>Movimiento +</a>
				</div>

		  </div>
		  <div class="row"></div>
		<h6>Ingreso y Descuento son obligatorios <span class="obl">*</span> No se pueden editar ni eliminar</h6>

	</div>
</main>

