<sidebar></sidebar>
<main>

	<div class="container">
		<nav class="transparent z-depth-0">
		<a [routerLink]="['/tipotransaccion']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb ">Configuración</a>
		        <a [routerLink]="['/tipotransaccion']" class="breadcrumb ">Listado de Tipo Transacción</a>
		        <a class="breadcrumb ">Editar Tipo transacción</a>
		      </div>
		    </div>
		  </nav>


		<br>
		<h4 class="light">Editar <span class="teal-text semi-bold">Tipo de transacción</span></h4>
		<br>

		<div class="card-panel">

		<form #formTipoTransaccion="ngForm" id="form-tipoTransaccion" (ngSubmit)="onSubmit()">
			
		  <div class="row">
			
			  <div class="row">
				<div class=" col s6">
					<label for="first_name"> Nombre: <span class="obl">*</span></label>
				  <input type="text" class="validate" #nombre="ngModel" 
				  [(ngModel)]="t.tipo_transaccion_nombre" name="nombre" required="true">

				  <p *ngIf="!nombre.valid && nombre.touched" class="red-text"> <i class="material-icons left ">error_outline</i>El nombre no es válido</p>
				  
				</div>


				<div class=" col s6">
				<label>Descripción: <span class="obl">*</span></label>

				  <input type="text" class="validate" data-length="200" name="descripcion"
				  #descripcion="ngModel" [(ngModel)]="t.tipo_transaccion_descripcion" required="true" 
				  >

				  <p *ngIf="!descripcion.valid && descripcion.touched" class="red-text "> <i class="material-icons left">error_outline</i>La descripción no es válida</p>
				  
				</div>

				<div class="col s6">
					<div input-field  name="tipo_transaccion_signo" ngDefaultControl required="true"
					#transac="ngModel" [(ngModel)]="t.tipo_transaccion_signo"
					>
					    <label>Signo:<span class="obl">*</span></label>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>{{t.tipo_transaccion_signo}}</option>	
					        <option value="+">Aumento (+)</option>
					        <option value="-">Dismiye (-)</option>
					    </select>
					</div>
				</div>
			  </div>
			
		  </div>
		  <div class="row right">
		  	<a class="waves-effect waves-light btn red " [routerLink]="['/tipotransaccion']">	<i class="material-icons white-text left">close</i>Cancelar</a>

		  	 <button class="btn waves-effect waves-light green" type="submite" name="action" [disabled]="!formTipoTransaccion.form.valid"><i class="material-icons left">send</i>Guardar

 			</button>

		  </div>
		  <div class="row"></div>
		</form>
		
		</div>

		<div class="divider"></div><br>
		<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>
	</div>


</main>
