<sidebar></sidebar>

<main>
	<div class="container">

		<nav class="transparent z-depth-0">
		<a [routerLink]="['/tipo-correo']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb ">Configuración</a>
		        <a [routerLink]="['/tipo-documento']" class="breadcrumb ">Listado de tipos de Documento</a>
		        <a class="breadcrumb ">Agregar Tipo de Documento</a>
		      </div>
		    </div>
		  </nav>

		<br>
		<h4 class="light">Formulario para agregar <span class="teal-text semi-bold">Tipo de Documento.</span></h4>
		<br>
		<div class="card-panel">
		<div class="container">
			<form #formDoc="ngForm" (ngSubmit)="guardarDocumento()">
			  <div class="row">
				<div class="input-field col m6 s12">
				  <input placeholder="" #doc="ngModel" [(ngModel)]="tipoDocumento.tipo_documento_nombre" name="tipo_documento_nombre" type="text" class="validate" required>
				  <label  for="first_name" >Nombre del tipo de documento <span class="obl">*</span>: </label>
				  <span *ngIf="!doc.valid && doc.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El nombre no es válido</span>
				</div>
				<div class="input-field col m6 s12">
				  <input placeholder="" #num="ngModel" [(ngModel)]="tipoDocumento.tipo_documento_num_caracter" name="tipo_correo_descripcion" type="number" class="validate" required >
				  <label for="last_name">Número de caracteres<span class="obl">*</span> :</label>
				  <span *ngIf="!num.valid && num.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El número de caracteres no es válido</span>
				</div>
			  </div>
		  <div class="row right">
		  	<a [routerLink]="['/tipo-documento']" class="waves-effect waves-light btn red lighten-2"><i class="material-icons white-text left">close</i>Cancelar</a>
		  	<button class="btn waves-effect waves-light green  lighten-2" type="submit" name="action" [disabled]="!formDoc.form.valid"><i class="material-icons left">send</i>Guardar</button>
		  </div>
		 	<div class="row"></div>
			</form>	
		</div>
		
		</div>
		<br>
		<div class="divider"></div><br>
		<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>
	
	</div>
</main>