<sidebar></sidebar>

<main>
	<div class="container">
		<nav class="transparent z-depth-0 right">
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb">Configuración</a>
		        <a class="breadcrumb">Listado de Tipos de Salarios</a>
		      </div>
		    </div>
		  </nav>
		
		<br>
		<h4 class="light">Listado de <span class="teal-text semi-bold">Tipos de Salarios</span></h4>
		<br>
		<a class="waves-effect waves-light btn teal" [routerLink]="['/tipoSalario-add']"><i class="material-icons white-text left">add</i>Agregar</a>

		<div  *ngIf="!listipoSalarios" class="loader">
			<h4 class="teal-text center">Cargando Tipos de Salarios...</h4>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress teal">
				      <div class="indeterminate teal darken-3"></div>
				  </div>
		    	</div>
		    </div>
		</div> 


		<div class="card-panel" >
		  <table *ngIf = "listipoSalarios">
			<thead>
			  <tr>
				  <th>ID</th>
				  <th>Nombre</th>
				  <th>Descripción</th>
				 
				  
				  <th class="center">Opciones</th>
			  </tr>
			</thead>

			<tbody *ngFor= "let c of listipoSalarios">

			  <tr >
				<td>{{c.tipo_salario_id}}</td>
				<td>{{c.tipo_salario_nombre}}</td>
				<td>{{c.tipo_salario_descripcion}}</td>
				

			
				<td class="center">

					<div class="tooltip">
					<a style="padding-left: 10px; padding-right: 10px" [routerLink]="['/tipoSalario-update',c.tipo_salario_id]" class="waves-effect waves-light btn blue lighten-2 myButton" data-position="bottom" data-tooltip="I am a tooltip"><i class="material-icons white-text center">create</i> </a>
					<span class="tooltiptext">Editar</span>
					</div>

					<div class="tooltip">
					<a style="padding-left: 10px; padding-right: 10px" (click)="onDelete(c.tipo_salario_id, c)" class="waves-effect waves-light btn red lighten-2 myButton"><i class="material-icons white-text center">delete</i></a>
					<span class="tooltiptext">Eliminar</span>
					</div>

				</td>
			  </tr>
			</tbody>
		  </table>

		</div>

	</div>
</main>