<sidebar></sidebar>
<main>
	<div class="container">
		<nav class="transparent z-depth-0">
		<a [routerLink]="['/tipo-contrato']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb ">Configuración</a>
		        <a [routerLink]="['/genero']" class="breadcrumb ">Listado de Tipos de Contrato</a>
		        <a class="breadcrumb ">Agregar Tipo de Contrato</a>
		      </div>
		    </div>
		  </nav>
		<br>
		<h4 class="light">Formulario para agregar <span class="teal-text semi-bold">Tipo de Contrato</span></h4>
		<br>
		<div class="card-panel">
			
		  <div class="row">
			<form #formTipoContrato="ngForm" (ngSubmit)="guardarTipoContrato()">
			  <div class="row">
				<div class="input-field col m4 s6">
				  <input placeholder="" #tip="ngModel" [(ngModel)]="tipoContrato.forma_contrato_nombre" name="forma_contrato_nombre" type="text" class="validate" required>
				  <label  for="first_name" >Nombre <span class="obl">*</span>: </label>
				  <span *ngIf="!tip.valid && tip.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El nombre no es válido</span>
				</div>
				<div class="input-field col s6 m8">
				  <input placeholder="" #desc="ngModel" [(ngModel)]="tipoContrato.forma_contrato_descripcion" name="forma_contrato_descripcion"type="text" class="validate" required >
				  <label for="last_name">Descripción<span class="obl">*</span> :</label>
				  <span *ngIf="!desc.valid && desc.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>La descripción no es válida</span>
				</div>
			  </div>
		  <div class="row right">
		  	<a [routerLink]="['/tipo-contrato']" class="waves-effect waves-light btn red lighten-2"><i class="material-icons white-text left">close</i>Cancelar</a>
		  	<button class="btn waves-effect waves-light green  lighten-2" type="submit" name="action" [disabled]="!formTipoContrato.form.valid"><i class="material-icons left">send</i>Guardar</button>
		  </div>
		  <div class="row"></div>
			</form>
		  </div>
		</div>
		<br>
		<div class="divider"></div><br>
		<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>
	</div>
</main>
