<sidebar></sidebar>

<main>

	<div class="container">
		<nav class="transparent z-depth-0">
		<a (click)="retroceder()" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
		<div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb " [routerLink]="['/empleado']">Empleados</a>
		        <a (click)="retroceder()" class="breadcrumb ">Planilla individual</a>
		        <a class="breadcrumb ">Agregar Venta de periodo</a>
		      </div>
		    </div>
	
		  </nav>
		<br>
		<h4 class="light">Registrar la  <span class="teal-text semi-bold">Venta del periodo</span></h4>
		<br>

		<div class="card-panel">

		<form #formVenta="ngForm" id="form-venta" (ngSubmit)="onSubmit()">
			
		  <div class="row">
			
			  <div class="row">


				<div class=" col s6">
					<label for="first_name"> Monto $: <span class="obl">*</span></label>
				  <input type="number" class="validate" min="0" #monto="ngModel"  min="0" 
				  [(ngModel)]="venta.planilla_venta" name="monto" required="true">

				  <p *ngIf="!monto.valid && monto.touched" class="red-text"> <i class="material-icons left ">error_outline</i>El Monto no es válido</p>
				  
				</div>

					
			
			  </div>

		  </div>
		  <div class="row right">
		  	<a class="waves-effect waves-light btn red " (click)="retroceder()"><i class="material-icons white-text left">close</i>Cancelar</a>

		  	 <button class="btn waves-effect waves-light green" type="submite" name="action" [disabled]="!formVenta.form.valid"> <i class="material-icons left">send</i>Guardar
   			
 			</button>

		  </div>
		  <div class="row"></div>
		</form>
		
		</div>

		<div class="divider"></div><br>
		<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>
	</div>


</main>
