<navbar></navbar>
<div class="white">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row center">
		<!-- 	<div class="col m4 s12 animated zoomIn" style="animation-delay: 0.25s">
				<i class="material-icons teal-text md-48" style="font-size: 130px">settings</i>
				<br>
				<p class="promo-caption">Configurable</p>
				<p class="center-align light">Administra las opciones que tu desees. Crea nuevos roles, asigna usuarios, implementa vistas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere deleniti laborum non veniam ducimus provident? Ullam, doloremque esse dignissimos id accusamus blanditiis quis non.</p>
			</div> -->
			<div class="col m4 s12 animated zoomIn" style="animation-delay: 0.25s">
				<i class="material-icons teal-text md-48" style="font-size: 130px">settings</i>
				<br>
				<p class="promo-caption">Configurable</p>
				<p class="left light">Administra las opciones que tu desees. Crea nuevos roles, asigna usuarios, implementa vistas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita delectus accusamus beatae eaque sint doloremque, blanditiis! Rem dolore ipsam quidem commodi cumque eum enim amet voluptates eligendi.</p>
			</div>
			<div class="col m4 s12 animated zoomIn" style="animation-delay: 0.65s">
				<i class="material-icons teal-text md-48" style="font-size: 130px">trending_up</i>
				<br>
				<p class="promo-caption">Escalable</p>
				<p class="left light">Cambia el plan de suscripción cuando desees. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione voluptatem nisi, excepturi. Est non quibusdam maxime cum, vero aperiam. Vel, vero, molestiae. Officia voluptas beatae voluptatum tempora blanditiis nihil magni!</p>
			</div>
			<div class="col m4 s12 animated zoomIn" style="animation-delay: 1.05s">
				<i class="material-icons teal-text md-48" style="font-size: 130px">verified_user</i>
				<br>
				<p class="promo-caption">Seguro</p>
				<p class="left light">Para tu confianza, hemos implementado seguridad en todos los niveles. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita delectus accusamus beatae eaque sint doloremque, blanditiis! Rem dolore ipsam quidem commodi cumque eum enim amet voluptates eligendi, officia, incidunt, animi!</p>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</div>


<!-- blue-grey darken-3 -->

<div class=" teal darken-1">
	<div class="container ">
		<br>
		<h1 class="white-text bold center">Precios</h1>
		<div class="row ">
			<div class="col s12 m4" *ngFor="let x of planes">
				  <div class="card blue-grey darken-1 z-depth-0" >
					<div class="card-action teal lighten-3">
					  <h5 class="white-text center">{{x.plan_nombre}}</h5>
					  <h1 class="white-text bold center">${{x.plan_precio}}</h1>
					  <p class="center light white-text">/por mes.</p>
					</div>
					<div class="card-content white">
					  <!-- <span class="card-title">Card Title</span> -->
					  <table class="bordered">
				        <tbody>
				          <tr>
				            <td><i class="material-icons left green-text">check</i>Documentación</td>
				          </tr>
				          <tr>
				            <td><i class="material-icons left red-text">clear</i>Soporte Técnico</td>
				          </tr>
				          <tr>
				            <td><i class="material-icons left red-text">clear</i>Capacitaciones</td>
				          </tr>
				          <tr>
				            <td><i class="material-icons left green-text">check</i>Hasta <span class="bold">{{x.plan_max_empleados}}</span> empleados</td>
				          </tr>
				        </tbody>
				      </table>
					</div>
				  </div>
			</div>
		</div>
	</div>
	<br>
	<br>
</div>

<div class="white">
	<br>
	<div class="container center">
		<h1 class="teal-text bold center">Diseño adaptado a tus necesidades</h1>
		<br>
		<br>
		<br>
		<img src="assets/images/adaptable.png" alt="" width="70%" >
		<br>
		<div>
			<!-- <p class="light">Saca el máximo provecho accediendo desde todos tus dispositivos.</p> -->
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
</div>
<div class=" blue-grey darken-4">
	<div class="container ">
		
		<div class="row ">
			<br>
			<div class="col s12 m6">
				<h1 class="white-text bold right">¡Solicita unirte a SIPEL!</h1>
				<h4 class="white-text light right">Uno de nuestros agentes se pondrá en <br>contacto contigo.</h4>
			</div>

			<div class="col s12 m6">
				<br><br>
				  <div class="row">
			<form #formEmpresa="ngForm" (ngSubmit)="guardarEmpresa()">
			  <div class="row">
				<div class="input-field col m6 s12">
				  <input placeholder="" #emp="ngModel" [(ngModel)]="empresa.empresa_nombre" name="empresa_nombre" type="text" class="validate" required>
				  <label  for="first_name" >Nombre de la empresa<span class="obl">*</span>: </label>
				  <span *ngIf="!emp.valid && emp.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El nombre no es válido</span>
				</div>
				<br>
				<div class="input-field col m8 s12">
				  <input placeholder="" #dir="ngModel" [(ngModel)]="empresa.empresa_direccion" name="empresa_direccion" type="text" class="validate" required>
				  <label  for="first_name" >Dirección de la empresa<span class="obl">*</span>: </label>
				  <span *ngIf="!dir.valid && dir.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>La dirección no es válida.</span>
				</div>
				
				  <div class=" col m8 s12">
				  	<div #dep="ngModel" [(ngModel)]="empresa.estructura_territorial_id" name="empresa.estructura_territorial_id" ngDefaultControl>
					  <label>Pais:</label>
						  <select class="browser-default">
						    <option value="" disabled selected>Escoja país</option>
						    <option *ngFor="let x of paises" value={{x.estructura_territorial_id}}>{{x.estructura_territorial_nombre}}</option>
						  </select>
					</div>
				  </div>


				<div class="input-field col m8 s12">
				  <input placeholder="" #rep="ngModel" [(ngModel)]="empresa.empresa_representante" name="empresa_nic" type="text" class="validate" required>
				  <label  for="first_name" >Nombre del representante<span class="obl">*</span>: </label>
				  <span *ngIf="!rep.valid && rep.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El nombre no es válido.</span>
				</div>
				<div class="input-field col m4 s6">
				  <input placeholder="" #corr="ngModel" [(ngModel)]="empresa.empresa_correo_representante" name="empresa_nit" type="text" class="validate" required>
				  <label  for="first_name" >Correo del representante<span class="obl">*</span>: </label>
				  <span *ngIf="!corr.valid && corr.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>El correo no es válido.</span>
				</div>
				<div class="input-field col m6 s12">
				  <input placeholder="" #web="ngModel" [(ngModel)]="empresa.empresa_pagina_web" name="empresa_pagina_web" type="text" class="validate" required>
				  <label  for="first_name" >Página web<span class="obl">*</span>: </label>
				  <span *ngIf="!web.valid && web.touched" class="red-text light"> <i class="material-icons left ">error_outline</i>La página web no es válida.</span>
				</div>

				<div class="input-field col m6 s12">
				  <input placeholder="" #log="ngModel" [(ngModel)]="empresa.empresa_logo" name="empresa_logo" type="text" class="validate" required>
				  <label  for="logo" >Logo<span class="obl">*</span>: </label>
				  <span *ngIf="!log.valid && log.touched" class="red-text"> <i class="material-icons left ">error_outline</i>La url del logo no es válida.</span>
				</div>

				<div class=" col m8 s12">
				  	<div #dep="ngModel" [(ngModel)]="empresa.plan_id" name="empresa.plan_id" ngDefaultControl>
					  <label>Plan:</label>
						  <select class="browser-default">
						    <option value="" disabled selected>Escoja plan</option>
						    <option *ngFor="let x of planes" value={{x.plan_id}}>{{x.plan_nombre}} - ${{x.plan_precio}}</option>
						  </select>
					</div>
				  </div>

			  </div>
			<br>
		  	<button class="btn-large waves-effect waves-light green lighten-2" type="submit" name="action" [disabled]="!formEmpresa.form.valid"><i class="material-icons left">send</i>Aceptar</button>

		  <div class="row"></div>
			</form>
		  </div>
			</div>

		</div>
	</div>
	<br>
</div>


<style>
	.promo-caption {
		font-size: 1.7rem;
		font-weight: 500;
		margin-top: 5px;
		mrgin-bottom: 0;
	}

	p {
		color: rgba(0,0,0,0.71)
	}

	.red-ues{
		color: #c62828;
	}

	.input-field label {
     color: white;
   }
</style>


