<sidebar></sidebar>



<main>
	<div class="container">
		<nav class="transparent z-depth-0 right">
		    <div class="nav-wrapper right">
		      <div class="col s12">
		        <a class="breadcrumb">Planilla</a>
		      </div>
		    </div>
		  </nav>
			<br>
			<br>


		<br>
		<h4 class="light">Listado de <span class="teal-text semi-bold">Planillas</span></h4>
		<br>
		<div class="card-panel" *ngIf="listPeriodos?.length==0">
			<h5>No se han iniciado los periodos</h5>
			<input type="date" max="{{nowM|date:'yyyy-MM-dd'}}" name="inicio"
			#nacimiento="ngModel" [(ngModel)]="fecha_inicio" required="true"
			>
			<a class="waves-effect waves-light btn-large" (click)="guardarPeriodo()">Primera planilla</a>

		</div>
		<div class="tooltip">

						<a  (click)="closePeriodo()" class="waves-effect waves-light btn #01579b light-blue darken-4"><i class="material-icons white-text left">clear_all</i>Cerrar periodo</a>
						<span class="tooltiptext">Cerrar periodo</span>
		</div>

		<div  *ngIf=!listPeriodos class="loader">
			<h4 class="teal-text center">Cargando Periodos de Planilla</h4>
		    <div class="row center">
		    	<div class="col m8 push-m2">
				  <div class="progress teal">
				      <div class="indeterminate teal darken-3"></div>
				  </div>
		    	</div>
		    </div>
		</div>



		<div class="card-panel animated fadeIn" *ngIf="listPeriodos">
			<p>Seleccione El periodo de planilla a consultar</p>

			<div class="row">
				<div class="col s6">
					<div input-field  name="idPeriodo" ngDefaultControl required="true">
					    <label>Periodo:</label>
					    <select class="" material-select watch class="browser-default"
					    #periodo="ngModel" [(ngModel)]="idPeriodo">

					    <option value="" disabled selected >Seleccione uno</option>
					    <option *ngFor="let periodo of listPeriodos" value="{{periodo.periodo_planilla_id}}">{{periodo.periodo_planilla_fecha_inicio| date:"dd/MM/yyyy"}} hasta {{periodo.periodo_planilla_fecha_fin| date:"dd/MM/yyyy"}} </option>

					    </select>
					</div>
				</div>
				<div class="col s6">
						<div input-field name="depto_nombre" ngDefaultControl required="true"
						#nom="ngModel" [(ngModel)]="department" ngDefaultControl required>
						    <label>Departamentos:</label>
						    <select class="" material-select watch class="browser-default">
						    	<option value="" disabled selected>Seleccionar Departamento:</option>
						        <option *ngFor="let x of listaDepartamentos" value="{{x.nivel_estructura_nombre}}" (click)="getPuestosbyDepto(x.nivel_estructura_id)">{{x.nivel_estructura_nombre}} </option>
						    </select>
						</div>
					</div>
			</div>

				<div class="tooltip">

						<button  (click)="getPlaniallaByPeriodoId()" class="waves-effect waves-light btn teal"
						 [disabled]="!nom.valid"
					><i class="material-icons white-text left">autorenew</i>Consultar</button>
						<span class="tooltiptext">Consultar planilla {{idPeriodo}}</span>
				</div>
		</div>


				<div class="row center animated fadeIn" *ngIf=consultando>
					<h4 class="teal-text center">Cargando Planilla</h4>
		    		<div class="row center">
		    			<div class="col m8 push-m2">
				 		 <div class="progress teal">
				      <div class="indeterminate teal darken-3"></div>
				  </div>
		    	</div>
		    </div>
				</div>


		<div *ngIf="periodoPlanilla && empresa">


				<div class="card-panel " *ngIf=department>
					<h3 class="animated fadeIn">{{department}}</h3>

				</div>
				<div *ngIf="periodoPlanilla.planilla.length == 0">
					<h5 class="red-text animated fadeIn">No hay planillas en este periodo</h5>

				</div>

				<div *ngFor="let planilla of periodoPlanilla.planilla">
				<div class="card-panel animated fadeIn" *ngIf="planilla.empleado.puesto.nivelEstructura.nivel_estructura_nombre == department" >


				<span class="right">{{planilla.planilla_id}}</span>
				<br>

				<div class="col s12 m12">
				<h5 class="bold" *ngIf="empresa">{{empresa.empresa_nombre}}</h5>
				<div class="col m6 s6">

				<p><span class="bold">Dirección:</span> {{empresa.empresa_direccion}}</p>
				<p><span class="bold">Website:</span> {{empresa.empresa_pagina_web}}</p>
				</div>

				<div class="divider"></div>


				</div>


					<div class="row">

					<div class="col s6 m6">
					<h5 class="bold" *ngIf="planilla.empleado.persona">{{planilla.empleado.persona.persona_primer_nombre}} {{planilla.empleado.persona.persona_segundo_nombre}} {{planilla.empleado.persona.persona_primer_apellido}} {{planilla.empleado.persona.persona_segundo_apellido}}</h5>

					</div>

					<div class="col m6 s6">

					<p><span class="bold">Código:</span> {{planilla.empleado.empleado_codigo}}</p>


					</div>
					<div class="col m6 s6">

					<p><span class="bold">Salario base:</span>$ {{planilla.empleado.salario.salario_monto_base|number: '.2'}} </p>
					<p><span class="bold">Departamento:</span> {{planilla.empleado.puesto.nivelEstructura.nivel_estructura_nombre}}</p>
					<p><span class="bold">Profesión:</span> {{planilla.empleado.persona.profesion.profesion_nombre}}</p>


					</div>

					<div class="col m6 s6">

					<p><span class="bold">Puesto:</span> {{planilla.empleado.puesto.puesto_nombre}}</p>
					<p><span class="bold">Descripción:</span> {{planilla.empleado.puesto.puesto_descripcion}}</p>


					</div>


				<div class="col s12 m12">
				<h5 class="light">Movimientos</h5>
				<div class="divider"></div>
				  <table>
					<thead>
					  <tr>
						  <th>Concepto</th>
						  <th>Descripción</th>
						  <th>Signo</th>
						  <th>Monto</th>
					  </tr>
					</thead>

					<tbody *ngFor= "let mov of planilla.detalleMovimiento">
					  <tr>
						<td>{{mov.movimiento.movimiento_nombre}}</td>
						<td>{{mov.movimiento.movimiento_descripcion}}</td>
						<td>{{mov.movimiento.tipoTransaccion.tipo_transaccion_signo}}</td>
						<td>$ {{mov.detalle_movimiento_monto}}</td>
					  </tr>
					</tbody>
				  </table>
				  <div class="divider"></div>
			</div>


			<div class="col m12 s12">

				<p *ngIf="planilla.empleado.puesto.puesto_tiene_comision"><span class="bold">Ingreso por comision | venta de periodo: $ {{planilla.planilla_venta}} generó: </span>$ {{planilla.planilla_comision|number: '.2'}}</p>
				<p><span class="bold">Renta:</span> $ {{planilla.planilla_renta}}</p>
				<p><span class="bold">Total a pagar:</span> $ {{planilla.planilla_total}}</p>
				<p class="right"> {{planilla.planilla_fecha_generacion|date:"dd/MM/yyyy"}}</p>
				<div class="col s4 offset-s8">
					<p>Firma:</p>
					<div class="divider"></div>
				</div>
			</div>
			</div>











				</div>
			</div>
		</div>

	</div>
</main>
