/* You can add global styles to this file, and also import other style files */

header, main, footer {
      padding-left: 250px;
    }

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }

.container {
	width: 80%;
	}
}

.side-nav {
  width: 250px !important;
  }

.container {
    width: 85%;
}

.semi-bold {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

/*Label de obligatorio*/
.obl{
    color: red;
    font-size: 22px;
  }

/*Tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: #212121;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
/*-------------------------------------------------------------------*/

/*Breadcumb*/
.breadcrumb {
  font-size: 18px;
  color: #bdbdbd !important;
}

.breadcrumb i,
.breadcrumb [class^="mdi-"], .breadcrumb [class*="mdi-"],
.breadcrumb i.material-icons {
  display: inline-block;
  float: left;
  font-size: 24px;
}

.breadcrumb:before {
  content: '\E5CC';
  color:#009688 !important;
  vertical-align: top;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  margin: 0 10px 0 8px;
  -webkit-font-smoothing: antialiased;
}

.breadcrumb:first-child:before {
  display: none;
}

.breadcrumb:last-child {
  color: #9e9e9e !important;
}
/*--------------------------------------------*/


